{# In questa cartella tutti i tpl underscore importati con direttive include in questo file #}

<script type="text/template" id="detailTemplateId">
	<%= model.title %>
	<figure>
		<img class="imageReplacer" src="<%= preloadImage %>"/>
	</figure>
</script>

<script type="text/template" id="eventTemplateId">
    <div class="blog-i">
        <div class="blog-img">
            <a style="background: url(<%= model.thumbnail %>);" href="<%= model.absolute_url %>"></a>
        </div>
        <div class="blog-cont">
            <% var m = moment(model.event_start_date);%>
            <time datetime="<%= m.format('YYYY-MM-DD HH:mm') %>">
                <span><%= m.date() %></span>
                <%= m.format('MMMM') %>
            </time>
            <p class="blog-category">
                <a href="#"><%= model.category.name %></a>
            </p>
            <h3><a href="post.html"><%= model.title %></a></h3>
            <%= model.excerpt %>
            <p class="blog-info">
                <a href="<%= model.absolute_url %>" class="blog-more">Read more</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="videoTemplateId">
	<%= model.title %>
	<figure>
		<img class="imageReplacer js-playVideo" src="<%= preloadImage %>"/>
	</figure>
</script>

<script type="text/template" id="portfolioCategoryFilterId">
    <a data-section=".<%= model.slug %>" href="#"><%= model.name %></a>
</script>

<script type="text/template" id="portfolioTemplateId">
    <a href="<%= model.absolute_url %>" class="project-front-link">
    	<img width="600" height="305" src="<%= model.thumbnail %>" class="attachment-verve_projects_2 size-verve_projects_2 wp-post-image" alt="">
    	<div class="project-front-cont">
    		<% if(!!model.categories && !!model.categories.length){ %>
    		<p class="project-front-sect">
    			<% var ar = []; %>
                <% _.each(model.categories, function(c, i){ %>
                    <% ar.push(c.name); %>
                <% }); %>
                <%= ar.join(', ') %>
    		</p>
    		<% } %>
			<h3><%= model.title %></h3>
	    </div>
	</a>
</script>

<script type="text/template" id="facbookFeedTpl">
    LIAST
</script>
<script type="text/template" id="facebookEntryTpl">
    <a href="<%= model.permalink_url %>" rel="nofollow" target="_blank">
        <div class="imgBg" style="background-repeat: no-repeat;background-position: center center;background-size: 50%;background-image:url(/static/img/logo.png)"></div>
        <div class="desc table">
            <div class="tableCell">
                <%= _.truncate(_.escapeRegExp(model.message), {length: 64}) %>
                <div class="iconsWrapper tac">
                    <% if(!!model.reactions && !!model.reactions.data.length) { %><span class="iconWrapper"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= model.reactions.data.length %></span><% } %>
                    <% if(!!model.shares) { %><span class="iconWrapper"><i class="fa fa-share-alt" aria-hidden="true"></i> <%= model.shares['count'] %></span> <% } %>
                </div>
            </div>
        </div>
    </a>
</script>