{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}
{% load alumns_tags %}
{% load static from staticfiles %}


{% block header %}
	<div class="bg-wrap-01">
		{{block.super}}
{% endblock header %}

{% block page_content %}
	<!-- Content -->
		<main id="content" class="blog">
			<!-- /Top Cover -->
			<div class="container">
				<div class="row">
					<div class="grid_8 section">
						<!-- Blog Posts -->
						<div class="blog_detail default">
							<!-- Post -->
							<div class="post post_view">

								<h2 class="title">
									<a href="{% url 'news:news-detail' slug=object.slug %}">500 - Internal Server Error</a>
								</h2>

								

								<section class="body">

									L'indirizzo inserito non è stato trovato sul server. Prova un altro indirizzo!

								</section>

							</div>
							<!-- /Post -->

						</div>
						<!-- /Blog Posts -->
					</div>
					<div class="grid_4">
					</div>				
				</div>
			</div>
		</main>
	</div>
	<!-- /Content -->
{% endblock page_content %}

