{% load cms_tags %}
{% load sekizai_tags %}
<!doctype html>
<html {% block html_attrs %}{% endblock html_attrs %}>
    <head>
    
    	{% block page_title %}{% endblock page_title %}
        
        {% block base_meta %}
        {% endblock base_meta%}
        
        {% block css %}{% endblock css %}
        {% render_block "css" %}
    </head>
    <body {% block body_attrs %}{% endblock body_attrs %} >
        {% cms_toolbar %}

        {% block body %}
        {% endblock body %}

        {% block js %}
        {% endblock js %}
        {% render_block "js" %}
    </body>
</html>
