{% extends 'base.html' %}
{% load static from staticfiles %}
{% load menu_tags %}
{% load cms_tags %}
{% load i18n %}

{% block page_title %}
	<title>Factor Hill</title>
{% endblock page_title %}

{% block html_attrs %}lang="{{LANGUAGE_CODE}}" class="{%block html_classes %}{% endblock html_classes %}"{% endblock html_attrs %}

{% block base_meta %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{% block og_sharing_meta %}
	<meta property="og:url"                content="{{request.build_absolute_uri}}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="FactorHill" />
	<meta property="og:image"              content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo.png' %}" />
	{% endblock og_sharing_meta %}
	<meta property="og:image:width"        content="1920" />
	<meta property="og:image:height"        content="1280" />
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'img/favicon.ico/favicon.png' %}">
	<meta name="theme-color" content="#ffffff">
	
	{% block page_meta %}
	{% endblock page_meta %}
{% endblock base_meta%}


{% block css %}
	<!-- Place favicon.png in the root directory -->
	{% block favicon %}
    	<link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/favicon.ico/apple-icon-57x57.png' %}" />
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon.ico/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon.ico/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon.ico/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon.ico/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon.ico/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon.ico/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon.ico/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.ico/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon.ico/favicon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.ico/favicon-32x32.png' %}" />
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.ico/favicon-96x96.png' %}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico/favicon-16x16.png' %}" />
		<link rel="icon" type="image/png" href="{% static 'img/favicon.ico/favicon.ico' %}" />
	{% endblock favicon %}

    {% block libs_css %}
    	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'js/bower_components/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'js/bower_components/fancybox/source/jquery.fancybox.css' %}">

    {% endblock libs_css %}

	{% block page_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/color/color_1.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/verve-styles-less.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom_styles.css' %}">
	{% endblock page_css %}

	{% block inline_css %}
	{% endblock inline_css %}
{% endblock css %}

{% block body_attrs %}class=""{% endblock body_attrs %}


{% block body %}
	<div id="fb-root"></div>
	{% block pre_body_content %}
		<!--[if lt IE 10]>
	      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
	{% endblock pre_body_content %}
	
	{% block header %}
	<div id="page" class="page">
		<!-- Header -->
		<header class="header site-header">
			<!-- Logotype -->
			<!-- Topmenu Toggle -->
			<div class="mainmenu-btn" id="mainmenu-btn">
				<div class="navTrigger"><i></i></div>
			</div>

			<!-- Search Form -->
			<div class="header-search searchFormWrapper">
				<a href="#" id="header-search-btn" class="header-search-btn"><i class="fa fa-search"></i></a>
				<form id="header-search" class='' method="post" action="{% url 'base:search-view' %}">
		            {% csrf_token %}
		            <fieldset>
		                <div class="contact-form_block1 btn-wr">
		                    <label class="query">
		                        <input type="text" name="search" placeholder="{% trans 'Search into website' %}:" value="" data-constraints="@Required"/>
		                    </label>
		                    <button type="submit" class="header-search-btn submit-btn" id="header-search-btn" value="{% trans 'Search' %}">
		                    	<i class="fa fa-search"></i>
		                    </button>
		                </div>
		            </fieldset>
		        </form>
			</div>
		</header>
		<!-- Header -->

		{% block extra_header %}
		{% endblock extra_header %}
	</div>
	{% endblock header %}

	{% block navi %}
	<!-- Navmenu -->
	<div class="mainmenu-bg" id="mainmenu-bg"></div>
	<nav class="mainmenu" id="mainmenu">

		<ul>
			{% show_menu 0 100 100 100 'cms_templates/menu.html' %}
			{% comment %}
			<li class="active">
				<a href="index.html">Home</a>
			</li>
			<li class="mainmenu-parent">
				<a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
				<ul>
					<li>
						<a href="blog.html">All posts</a>
					</li>
					<li>
						<a href="blog.html">Stories</a>
					</li>
					<li>
						<a href="blog.html">Travels</a>
					</li>
					<li>
						<a href="blog.html">Cooking</a>
					</li>
					<li>
						<a href="blog.html">Peoples</a>
					</li>
					<li>
						<a href="post.html">Single Post</a>
					</li>
				</ul>
			</li>
			<li class="mainmenu-parent">
				<a href="project.html">Portfolio <i class="fa fa-angle-down"></i></a>
				<ul>
					<li>
						<a href="project.html">All projects</a>
					</li>
					<li>
						<a href="project.html">Design</a>
					</li>
					<li>
						<a href="project.html">Business</a>
					</li>
					<li>
						<a href="project.html">Society</a>
					</li>
					<li>
						<a href="project.html">Education</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="contacts.html">Contacts</a>
			</li>
			<li>
				<a href="coming.html">Coming Soon</a>
			</li>
			<li>
				<a href="err404.html">Error 404</a>
			</li>
			{% endcomment %}
		</ul>
	</nav>
	<!-- Navmenu -->
	{% endblock navi %}

	{% block body_content %}
		<!-- Loading Screen -->
		<div id="loader" class="loader">
			<div class="svgWrapper">
				<svg id="wrap" width="100%" height="100%">
				  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
				  <path fill="orange" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
				    <animateTransform attributeType="xml"
				      attributeName="transform"
				      type="rotate"
				      from="0 25 25"
				      to="360 25 25"
				      dur="0.6s"
				      repeatCount="indefinite"/>
				    </path>
				  </svg>
				</svg>
			</div>
		</div>
		<!-- /Loading Screen -->
		{% block page_content %}{% endblock page_content %}
	{% endblock body_content %}
	
	{% block footer %}
	<footer class="footer-wrap">
		<div class="cont footer">

			<!-- Logotype -->
			<p class="footer-logo">
				<a href="/">
					<img src="{% static 'img/footer_logo.svg' %}" alt="" width="230">
				</a>
			</p>

			<!-- Subscribe -->
			<form class="form-validate footer-subscribe" action="#">
				<input data-required="text" data-required-email="email" type="text" placeholder="Email address" name="email2">
				<button type="submit">Subscribe <i class="fa fa-angle-right"></i></button>
			</form>

			<!-- Social Links -->
			<ul class="footer-social">
				{% static_placeholder 'Social' %}
				{% comment %}
				<li>
					<a href="http://vk.com" rel="nofollow" target="_blank">
						<i class="fa fa-vk"></i>
					</a>
				</li>
				<li>
					<a href="http://twitter.com" rel="nofollow" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="http://behance.com" rel="nofollow" target="_blank">
						<i class="fa fa-behance"></i>
					</a>
				</li>
				<li>
					<a href="http://linkedin.com" rel="nofollow" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				<li>
					<a href="http://facebook.com" rel="nofollow" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="http://instagram.com" rel="nofollow" target="_blank">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="http://dribbble.com" rel="nofollow" target="_blank">
						<i class="fa fa-dribbble"></i>
					</a>
				</li>
				{% endcomment %}
			</ul>

			<!-- Copyright -->
			<p class="footer-copyright">{% now "Y" %} © FactorHill All Rights Reserved</p>
			<p class="footer-copyright"><span style="font-size: 0.8em;">{% trans 'Development' %}: <a href="mastrandreagiuseppe@gmail.com">Giuseppe Mastrandrea</a></span></p>

		</div>
	</footer>
	{% endblock footer %}
	{% block post_body_content %}
		{% include 'partials/templates.html' %}
	{% endblock post_body_content %}

{% endblock body %}

{% block js %}
	
	{% block js_libs %}
		<script type="text/javascript" src="{% static 'js/bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/moment/min/moment-with-locales.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/lodash/dist/lodash.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/backbone/backbone-min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/fancybox/source/jquery.fancybox.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/gsap/src/minified/TweenMax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/gsap/src/minified/jquery.gsap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/gsap/src/minified/TimelineMax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/flexslider/jquery.flexslider-min.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/bower_components/video.js/dist/video.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/videojs-youtube/dist/Youtube.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/videojs-vimeo-master/dist/videojs-vimeo.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/libs/jquery.cycle2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/masonry.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.fractionslider.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/isotope.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/ShareBtns.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/libs/jquery.debouncedresize.js' %}"></script>

		{% block js_page_libs %}
		{% endblock js_page_libs %}

		<script type="text/javascript" src="{% static 'js/libs/backbone.viewscollection.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/backbone.base.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/backbone.channels.js' %}"></script>

		<script type="text/javascript">
			createBaseView('Project');
	        var Models          = namespace('Project.Models'),
	            Collections     = namespace('Project.Collections'),
	            Routers 		= namespace('Project.Routers'),
	            Urls            = namespace('Project.Urls'),
	            Vars            = namespace('Project.Vars'),
	            Objects         = namespace('Project.Objects'),
	            Views 			= namespace('Project.Views');
		</script>

		<script type="text/javascript" src="{% static 'js/project/views/conf.objects.js' %}"></script>

	{% endblock js_libs %}

	{% block js_vars %}
		<script type="text/javascript">
		Project.Vars = {
			urls: {}
		};
		Project.Vars.urls['postMessageUrl'] = "{% url 'corporate:send-message' %}";
		</script>
	{% endblock js_vars %}
	{% block fb_sdk %}
		<script async defer src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v3.2"></script>
	{% endblock fb_sdk %}
	{% block analytics %}
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	   <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  //ga('create', 'xxxx', 'auto');
		  //ga('send', 'pageview');

		</script>
	{% endblock analytics %}

	{% block fb_app %}
	{% endblock fb_app %}
	
	{% block js_social %}
	{% endblock js_social %}
	
	{% block page_js %}

		<script type="text/javascript" src="{% static 'js/project/models/model.js' %}"></script>	
		<script type="text/javascript" src="{% static 'js/project/views/listview.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/project/views/detailview.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/project/views/facebook_feed.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/project/views/page.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/project/views/videos.js' %}"></script>
		
	{% endblock page_js %}
	
	{% block inline_js %}
		<script type="text/javascript">
			Project.Objects.currentPageView = new Views.PageView();
		</script>
	{% endblock inline_js %}
{% endblock js %}