{% extends 'base_site.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{{object.excerpt|safe}}" />

{% endblock og_sharing_meta %}


{% block page_content %}
<!-- Content -->
	<section id="content" class="blog">
		<!-- Top Cover -->
		<div class="top_cover about" style="background-image: url({% static 'img/gallery/gallery1.jpg' %})">
			<div class="overlay">
				<div class="vertical_align">
					<h1 class="title">
						<span class="title">
							{% block error_title %}{% endblock error_title %}
						</span>
					</h1>
				</div>
			</div>
		</div>
		<!-- /Top Cover -->

		<div class="container">
			<div class="row">
				<div class="col-md-12 section">
					<div class="blog_posts default">
						<div class="post post_view  no-border">
							<section class="body">
								{% block error_body_message %}
								{% endblock error_body_message %}
							</section>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- /Content -->
{% endblock page_content %}
