{% extends 'admin/change_form.html' %}
{% load static %}

{% block after_related_objects %}
	{{block.super}}
	<div>
		<div class="module aligned">
			<div class="form-row">
				<button class="button js-apiToken">Genera Access Token</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
	var url = "{% url 'corporate:get_auth_token' %}";
	(function($) {
	    $(document).on('ready', function(){
			$('.js-apiToken').on('click', function(e){
				e.preventDefault();
				$.ajax({
					//url: 'https://graph.facebook.com/oauth/access_token',
					url: url,
					method: 'get',
					dataType: 'json',
					data: {
						client_id: 			$('[name=app_id]').val(),
						client_secret:  	$('[name=secret]').val(),
						grant_type: 		'fb_excahnge_token',
						fb_exchange_token: 	$('[name=app_token]').val(),
					},
					complete: function(){
						debugger;
					}
				});
			});
		});
	})(django.jQuery);
</script>
{% endblock %}