{% load i18n %}
{% load thumbnail %}
{% for item in items %}
	<div class="blog-i">
        <div class="blog-img">
        	{% thumbnail item.cover_img.image "1860x680" crop="center" as im %}
            <a style="background: url({{im.url}});" href="{% url 'events:event-detail' slug=item.slug %}"></a>
            {% endthumbnail %}
        </div>
        <div class="blog-cont">
            <time datetime="{{item.event_start_date|date:"Y-m-d"}}">
                <span>{{item.event_start_date|date:"d"}}</span>
                {{item.event_start_date|date:"M"}}
            </time>
            {% if item.category %}
            <p class="blog-category">
                <a href="#">{{item.category.name}}</a>
            </p>
            {% endif %}
            <h3><a href="post.html">{{item.title}}</a></h3>
            {% if item.excerpt %}{{item.excerpt|safe}}{% else %}{{object.content|safe}}{% endif %}
            <p class="blog-info">
                <a href="{% url 'events:event-detail' slug=item.slug %}" class="blog-more">Read more</a>
            </p>
        </div>
    </div>
{% empty %}
{% endfor %}