{% load i18n %}
{% load thumbnail %}
{% for item in items %}
	<div class="project-front project-front-width2 section2 section3">
		<a href="project.html" class="project-front-link">
			<img src="http://placehold.it/600x305" alt="">
			<div class="project-front-cont">
				<p class="project-front-sect">Travels</p>
				<h3>Curabitur sed sapien</h3>
			</div>
		</a>
	</div>
{% empty %}
{% endfor %}