{% extends 'base_site.html' %}
{% load thumbnail %}
{% load cms_tags %}
{% load i18n %}
{% load static from staticfiles %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{% if object.excerpt %}{% spaceless %}{{object.excerpt|striptags}}{% endspaceless %}{% else %}{{object.title}}{% endif %}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="http://{{request.get_host}}{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}

{% block body_attrs %}class="portfolioDetailNs"{% endblock body_attrs %}

{% block extra_header %}
	<!-- Project Top -->
	<div class="project-img" id="project-img">
		{% thumbnail object.cover_img.image "1920x1280" crop="bottom" as im %}
			<img src="{{im.url}}" alt="{{object.title}}" class="hideMobile">
			<div class="hideTablet hideDesktop bgImage" style="background-image:url({{im.url}})" ></div>
		{% endthumbnail %}
		<span class="line-ct"></span>
		{% if prev %}<a class="project-prev" href="{% url 'portfolio:portfolio-detail' slug=prev.slug %}">Prev</a>{% endif %}
		{% if next_item %}<a class="project-next" href="{% url 'portfolio:portfolio-detail' slug=next_item.slug %}">Next</a>{% endif %}
	</div>
	<!-- /Project Top-->
{% endblock extra_header %}

{% block page_content %}
	<div class="cont">
		<div class="post">
			<!-- Post Content -->
			<div class="post-info">
				{% comment %}
				<time datetime="2016-05-01 15:15">
					<span>20</span>
					Jun
				</time>
				{% endcomment %}
				{% for c in object.categories.all %}
					<a href="#">{{c.name}}</a>{% if not forloop.last %},{% endif %}
				{% empty %}
				{% endfor %}
				<h1>{{object.title}}</h1>
				<h2>{{object.subtitle}}</h2>
			</div>
			{% if object.gallery %}
			<!-- Project - Carousel -->
			<div class="post-slider">
				<ul class="slides">
				{% for photo in object.gallery.photos.all %}
					{% thumbnail photo.image "1920x1280" crop="center" as im %}
					<li>
						<img src="{{im.url}}" alt="{{im.name}}">
					</li>
					{% endthumbnail %}
				{% empty %}
				{% endfor %}
				
			</div>
			<!-- / Project - Carousel -->
			{% endif %}
			<article class="postContent">
				{{object.content|safe}}
			</article>
			<!-- Post Content -->

			<!-- Social Share -->
			<ul class="post-share">
				<li><a data-social="facebook" href="#" title="Share on Facebook" class="js-fbShare"><i class="fa fa-facebook"></i></a></li>
				<li><a data-social="twitter" href="#" title="Tweet" class="js-twitterShare"><i class="fa fa-twitter"></i></a></li>
				{% comment %}
				<li><a data-social="mail" href="#" target="_blank" title="Pin it" class="mailShare"><i class="fa fa-envelope"></i></a></li>
				{% endcomment %}
			</ul>
			<!-- Social Share -->
		</div>
	</div>
	<p class="post-showmore">
		<a data-goto="#page" href="#">Back to top</a>
	</p>
	
{% endblock page_content %}