{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}
{% load static from staticfiles %}

{# show_menu 0 100 100 100 #}

{% block body_attrs %}class="portfolioListNs no-overlay"{% endblock body_attrs %}


{% block pre_body_content %}
	<div id="page" class="site site-wrapper no-overlay">
{% endblock pre_body_content %}

{% block page_content %}
    
	<div id="content" class="site-content">

	    <div id="primary" class="content-area">
	        <main id="main" class="site-main">

	            <div class="page-styling page-topttl page-topttl-light">
	                <ul class="b-crumbs">
	                    <li>
	                        <a class="first-item" href="/">Home</a>
	                    </li>
	                    <li>
	                        <span class="last-item">Portfolio</span>
	                    </li>
	                </ul>
	                <h2>Portfolio</h2>
	                {% comment %}
	                <p>Voluptatum, illo, corporis a asperiores deleniti commodi<br> soluta atque architecto quos nemo accusamus adipisci similique</p>
	                {% endcomment %}
	            </div>

	            <div class="cont cont-widthsm project-list-wrap">
	                {% comment %}
	                <div class="cont project-front-sections-wrap" id="project-front-sections">
	                    <div class="project-front-sections-inner">
	                        <ul class="project-front-sections js-filtersWrapper">
	                        </ul>
	                    </div>
	                </div>
	                {% endcomment %}
	                <div class="project-front-list js-entriesWrapper" id="project-front-list">
	                	{% for item in object_list %}
						<!-- item -->
						
						<!-- /item -->
						{% empty %}
						{% endfor %}	                    
	                </div>
	                {% comment %}
	                <ul class="page-numbers">
	                    <li><span class="page-numbers current">1</span></li>
	                    <li><a class="page-numbers" href="http://verve.real-web.pro/projects/page/2/">2</a></li>
	                    <li><a class="next page-numbers" href="http://verve.real-web.pro/projects/page/2/">Next <i class="fa fa-angle-right"></i></a></li>
	                </ul>
	                {% endcomment %}
	            </div>

	        </main>
	        <!-- #main -->
	    </div>
	    <!-- #primary -->
	</div>
</div>
{% endblock page_content %}
{% block page_js %}
	{{block.super}}
	<script type="text/javascript" src="{% static 'js/project/views/portfolio.js' %}"></script>
{% endblock %}
{% block inline_js %}
    <script type="text/javascript">
        Project.Vars.detailTemplateId = '#portfolioTemplateId';
        Project.Objects.currentPageView = new Views.PortfolioPageView({
            listViewUrl: '{% url "portfolio:api-portfolio-list" %}',
            portfolioCategoriesUrl: '{% url "portfolio:api-portfolio-categories-list" %}', 
            detailViewClass: Project.Views.PortfolioDetailView,
            autoLoad: true
        });
    </script>
{% endblock inline_js %}