li.ui-menu-item{list-style-type:none;}
input.ui-autocomplete-input{width:700px;}
.ui-autocomplete-loading { background: white url('/static/legacy/common/css/ui-lightness/images/ui-anim_basic_16x16.gif') right center no-repeat; }
