{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}

{# show_menu 0 100 100 100 #}
{% block page_content %}
    
    <div id="content" class="site-content">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                {% thumbnail object.cover_img.image "1920x950" crop="center" as im %}
                <div class="page-styling page-topttl page-topttl-light" style="background: url({{im.url}});margin-top: -30px;margin-bottom: 50px;">
                {% endthumbnail %}
                    <ul class="b-crumbs">
                        <li>
                            <a class="first-item" href="/">Home</a>
                        </li>
                        <li>
                            <span class="last-item">{{object.name}}</span>
                        </li>
                    </ul>
                    <h2 style="color:#fff">{{object.name}}</h2>
                    {% if object.abstract %}{{object.abstract|safe}}{% else %}{{object.content|safe}}{% endif %}
                </div>
                <h3 class="tac" style="margin-bottom:30px;">Prossimi appuntamenti</h3>
                <div class="cont cont-widthsm project-list-wrap">
                    <div class="cont project-front-sections-wrap" id="project-front-sections">
                        <div class="project-front-sections-inner">
                            <ul class="project-front-sections js-filtersWrapper">
                            </ul>
                        </div>
                    </div>
                    <div class="project-front-list js-entriesWrapper" id="project-front-list">
                        {% for item in object_list %}
                        <!-- item -->
                        <div class="project-front project-front-width2 other travels">
                            <a href="http://verve.real-web.pro/verve_projects/curabitur-sed-sapien/" class="project-front-link">
                                <img width="600" height="305" src="http://verve.real-web.pro/wp-content/uploads/2016/06/fox-1477172_1920-600x305.jpg" class="attachment-verve_projects_2 size-verve_projects_2 wp-post-image" alt="">
                                <div class="project-front-cont">
                                    <p class="project-front-sect">
                                        Other,&nbsp;Travels
                                    </p>
                                    <h3>Curabitur sed sapien</h3>
                                </div>
                            </a>
                        </div>
                        <!-- /item -->
                        {% empty %}
                        {% endfor %}                        
                    </div>
                    {% comment %}
                    <ul class="page-numbers">
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="http://verve.real-web.pro/projects/page/2/">2</a></li>
                        <li><a class="next page-numbers" href="http://verve.real-web.pro/projects/page/2/">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    {% endcomment %}
                </div>

            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
</div>
{% endblock page_content %}

{% block inline_js %}
    <script type="text/javascript">
        Project.Vars.detailTemplateId = '#eventTemplateId';
        Project.Objects.currentPageView = new Views.ListView({
            listViewUrl: '{% url "events:api-events-list" %}',
            autoLoad: true
        });
    </script>
{% endblock inline_js %}