{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{% spaceless %}{{object.excerpt|striptags}}{% endspaceless %}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="http://{{request.get_host}}{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}

{% block page_content %}
    {{ object.title }}
    {% for photo in object.photos.all %}
        {% thumbnail photo.image "1920x1080" crop="center" as big_img %}
        <a class="fancybox thumb2 wow fadeInRight" data-wow-delay=".2s" data-fancybox-group='1' href="{{ big_img.url }}">
        {% endthumbnail %}
            {% thumbnail photo.image "360x310" crop="center" as img %}
                <img src="{{img.url}}" alt=""/>
            {% endthumbnail %}
            <span class="thumb2_overlay"></span>
        </a>
    {% empty %}
    {% endfor %}
{% endblock page_content %}