{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}

{# show_menu 0 100 100 100 #}
{% block page_content %}
    Galleries list
    <div class="js-entriesWrapper">
    {% for item in object_list %}
        <div>
            <a class="readMore" href="{% url 'gallery:gallery-detail' pk=item.id %}">
                {{item.title}}
            </a>
        </div>
    {% empty %}
    </div>
    {% endfor %}
{% endblock page_content %}

{% block inline_js %}
    <script type="text/javascript">
        Project.Vars.detailTemplateId = '#detailTemplateId';
        Project.Objects.currentPageView = new Views.ListView({
            listViewUrl: '{% url "corporate:api-galleries-list" %}',
            autoLoad: true
        });
    </script>
{% endblock inline_js %}