{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{{object.excerpt|safe}}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="http://{{request.get_host}}{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}

{% block page_content %}
	{{ object.title }}
{% endblock page_content %}