{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}

{# show_menu 0 100 100 100 #}

{% block page_content %}
    <main>
        <h3 class="">{% trans 'News' %}</h3>
            <div class="js-entriesWrapper">
                {% for item in object_list %}
                    <div>
                        <a class="readMore" href="{% url 'press:pressrelease-detail' slug=item.slug %}">
                            {{item.title}}
                        </a>
                    </div>
                {% empty %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock page_content %}

{% block inline_js %}
    <script type="text/javascript">
        Project.Vars.detailTemplateId = '#detailTemplateId';
        Project.Objects.currentPageView = new Views.ListView({
            listViewUrl: '{% url "press:api-pressrelease-list" %}',
            autoLoad: true
        });
    </script>
{% endblock inline_js %}