{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}

{# show_menu 0 100 100 100 #}

{% block page_content %}
    <main>
        <h3 class="">{% trans 'Search results' %}</h3>
            <div class="row">
                {% for item in news %}
                    <div>
                        <a class="readMore" href="{% url 'press:pressrelease-detail' slug=item.slug %}">
                            {{item.title}}
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    {% endfor %}
            </div>
            <div class="row">
                {% for item in events %}
                    <div>
                        <a class="readMore" href="{% url 'press:pressrelease-detail' slug=item.slug %}">
                            {{item.title}}
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    {% endfor %}
            </div>
            <div class="row">
                {% for item in pressrelease %}
                    <div>
                        <a class="readMore" href="{% url 'press:pressrelease-detail' slug=item.slug %}">
                            {{item.title}}
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                <div class="row">
                    {% endif %}
                    {% empty %}
                    {% endfor %}
            </div>
            {% if is_paginated %}
                <!-- Blog Pagination -->
                <div class="pagination_container">
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="{% url 'events:events-list' %}" class="ti-angle-double-left"></a>
                                </li>
                                <li>
                                    <a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="ti-angle-left"></a>
                                </li>
                                <li>
                                    <a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}
                            <li class="active">
                                <a href="#">{{page_obj.number}}</a>
                            </li>
                            {% if page_obj.has_next %}
                            <li>
                                <a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            <li>
                                <a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}" class="ti-angle-right"></a>
                            </li>
                            <li>
                                <a href="{% url 'events:events-list' %}?page={{page_obj.paginator.num_pages}}" class="ti-angle-double-right"></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- /Blog Pagination -->
            {% endif %}
        </section>
    </main>
{% endblock page_content %}
