{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}
{% load static from staticfiles %}

{% block body_attrs %}class="videoNs"{% endblock body_attrs %}

{% block page_css %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static 'js/bower_components/video.js/dist/video-js.min.css' %}" />
{% endblock page_css %}
	
{% block page_content %}
		<main>
            	<h2 class="title tac">VIDEO</h2>
				<video
				    id="player"
				    class="video-js vjs-default-skin"
				    width="640" height="264"
				    >
				</video>
	            <div class="container">
					<div class="row js-entriesWrapper">
						{% for instance in object_list %}
					        <div class="videoEntry">
					            {% if instance.cover_img %}
					            <div class="imgWrapper">
									{% thumbnail instance.cover_img "400x300" crop="center" as im %}
										<a href="#" class="js-playVideo">
					                        <img src="{{ im.url }}" alt="{{ instance.title }}" />
					                    </a>
					            	{% endthumbnail %}
					            </div>
					            {% else %}
					            <div class="thumbWrapper">
					                <a href="#" class="js-playVideo">
					                </a>
					            </div>
					            {% endif %}
					            <h4>{{instance.title}}</h4>
					            {% if instance.subtitle %}<h5>{{instance.subtitle}}</h5>{% endif %}
					            <p>{{instance.content|safe}}</p>
							</div>
                        {% empty %}
                        {% endfor %}
					</div>
	            </div>
		</main>
{% endblock page_content %}

{% block inline_js %}
    <script type="text/javascript">
        Project.Vars.detailTemplateId = '#videoTemplateId';
        Project.Objects.currentPageView = new Views.VideoListView({
            listViewUrl: '{% url "corporate:api-videoentries-list" %}',
            detailViewClass: Project.Views.VideoDetailView,
            autoLoad: true
        });
    </script>
{% endblock inline_js %}
