{% extends 'base_site.html' %} {% load cms_tags %} {% load menu_tags %} {% load events_tags %} {% load i18n %} {% load static from staticfiles %}

{% block body_attrs %}class="aboutUsNs"{% endblock body_attrs %} 

{% block header %}
    <div id="page" class="page">
    <!-- Header -->
        <header class="header site-header">
            <!-- Logotype -->
            <div class="mainmenu-btn" id="mainmenu-btn">
                <div class="navTrigger"><i></i></div>
            </div>
            <!-- Search Form -->
            <div class="header-search searchFormWrapper">
                <a href="#" id="header-search-btn" class="header-search-btn"><i class="fa fa-search"></i></a>
                <form id="header-search" class='' method="post" action="{% url 'base:search-view' %}">
                    {% csrf_token %}
                    <fieldset>
                        <div class="contact-form_block1 btn-wr">
                            <label class="query">
                                <input type="text" name="search" placeholder="{% trans 'Search into website' %}:" value="" data-constraints="@Required" />
                            </label>
                            <button type="submit" class="header-search-btn submit-btn" id="header-search-btn" value="{% trans 'Search' %}">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </header>
    <!-- Header -->
    {% block extra_header %}
    {% placeholder 'Top container' %}
    <span class="line-ct-wrap"><span class="line-ct"></span></span>
    {% endblock extra_header %}
</div>
{% endblock header %}

{% block page_content %}
<main id="main" class="site-main">
    <div class="cont">
        <div class="post project vc_row vc_row-fluid row-width-container">
            <div class="vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="">
                        <h2 style="font-size: 30px;text-align: center" class="vc_custom_heading vc_custom_1467564414051">ABOUT FACTOR HILL</h2>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="">
                                {% placeholder 'Bio' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row vc_row-fluid row-width-container staff ">
            <div class="vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="staffWrapper">
                    	{% placeholder 'Staff' %}
                        {% comment %}
                        <div class="team-wrap team-col_3">
                        </div>
                        {% endcomment %}
                    </div>
                    <div class="staffDetailWrapper">
                        <div class="detail"></div>
                        <div class="close">
                            <a href="#" class="js-closeStaffDetail">X</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock page_content %}