{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load events_tags %}
{% load i18n %}

{% block body_attrs %}class="contactsNs"{% endblock body_attrs %}
{% block extra_header %}
<!-- Contacts -->
<div class="page-cont-wrap">
	<div class="cont page-cont contacts">
		<div class="contacts-form">
			<h2 class="contactsTitle">Contact Us</h2>
			<!-- Contact Form -->
			<form id="contactForm" method="post" class="form" role="form" data-url="{% url 'corporate:send-message' %}"> 
				{% csrf_token %}
				<input data-required="text" type="text" placeholder="Name" name="name" class="js-required js-validation">
				<input data-required="text" data-required-email="email" type="text" placeholder="Email address" name="sender_email" class="js-required js-emailValidation js-validation">
				<textarea data-required="text" placeholder="Subject" name="subject" class="js-required js-validation"></textarea>
				<textarea data-required="text" placeholder="Message" name="body" class="js-required js-validation"></textarea>
				<button type="submit" class="cf_send_message">Send <i class="fa fa-angle-right"></i></button>
			</form>
		</div>
		{% placeholder 'Contacts and address' %}
		<!-- Map -->
		<div class="contacts-map" id="contacts-map"></div>
	</div>
</div>
<span class="line-ct-wrap"><span class="line-ct"></span></span>
<!-- Contacts -->
{% endblock extra_header %}

{% block inline_js %}
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYBYfj2RnA2OBzcAmHjxxCx-kYhA_jY_E&callback=initMap">
    </script>
    <script type="text/javascript">
    	function initMap(){
    		Project.Objects.currentPageView = new Views.ContactsPageView();
    	}
    </script>
{% endblock inline_js %}