{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load events_tags %}
{% load i18n %}
{% load static from staticfiles %}

{% block body_attrs %}class="genericNs"{% endblock body_attrs %}
{% block header %}
    <div id="page" class="page">
    <!-- Header -->
        <header class="header site-header">
            <!-- Logotype -->
            <div class="mainmenu-btn" id="mainmenu-btn">
                <div class="navTrigger"><i></i></div>
            </div>
            <!-- Search Form -->
            <div class="header-search searchFormWrapper">
                <a href="#" id="header-search-btn" class="header-search-btn"><i class="fa fa-search"></i></a>
                <form id="header-search" class='' method="post" action="{% url 'base:search-view' %}">
                    {% csrf_token %}
                    <fieldset>
                        <div class="contact-form_block1 btn-wr">
                            <label class="query">
                                <input type="text" name="search" placeholder="{% trans 'Search into website' %}:" value="" data-constraints="@Required" />
                            </label>
                            <button type="submit" class="header-search-btn submit-btn" id="header-search-btn" value="{% trans 'Search' %}">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </header>
    <!-- Header -->
    {% block extra_header %}
	{% placeholder 'Top container' %}
	<span class="line-ct-wrap"><span class="line-ct"></span></span>
    {% endblock extra_header %}
</div>
{% endblock header %}
{% block page_content %}
        <main>
        	<div class="cont">
	        	<div class="post project">
				    {% placeholder 'Content' %}
                    <div class="project-list">
                        {% placeholder 'Lista Extra' %}
                    </div>
					<!-- Social Share -->
                    <ul class="post-share">
                        <li><a data-social="facebook" href="#" title="Share on Facebook" class="js-fbShare"><i class="fa fa-facebook"></i></a></li>
                        <li><a data-social="twitter" href="#" title="Tweet" class="js-twitterShare"><i class="fa fa-twitter"></i></a></li>
                        {% comment %}
                        <li><a data-social="mail" href="#" target="_blank" title="Pin it" class="mailShare"><i class="fa fa-envelope"></i></a></li>
                        {% endcomment %}
                    </ul>
                    <!-- Social Share -->
	        	</div>
	        </div>
        </main>
{% endblock page_content %}