{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load events_tags %}
{% load portfolio_tags %}
{% load i18n %}
{% load static from staticfiles %}

{% block inline_css %}
	{%  include 'partials/styles.html' %}
{% endblock inline_css %}


{% block body_attrs %}class="homeNs"{% endblock body_attrs %}
{% block header %}
	<div id="" class="top">
		<!-- Header -->
		<header class="header site-header">
			<!-- Logotype -->
			

			<div class="mainmenu-btn" id="mainmenu-btn">
				<div class="navTrigger"><i></i></div>
			</div>
			<!-- Search Form -->
			<div class="header-search searchFormWrapper">
				<a href="#" id="header-search-btn" class="header-search-btn"><i class="fa fa-search"></i></a>
				<form id="header-search" class='' method="post" action="{% url 'base:search-view' %}">
		            {% csrf_token %}
		            <fieldset>
		                <div class="contact-form_block1 btn-wr">
		                    <label class="query">
		                        <input type="text" name="search" placeholder="{% trans 'Search into website' %}:" value="" data-constraints="@Required"/>
		                    </label>
		                    <button type="submit" class="header-search-btn submit-btn" id="header-search-btn" value="{% trans 'Search' %}">
		                    	<i class="fa fa-search"></i>
		                    </button>
		                </div>
		            </fieldset>
		        </form>
			</div>
		</header>
		<!-- Header -->

		{% block extra_header %}
		<div class="siteloader">
			<div class="loader1"></div>
		</div>
		<div class="fullscreen">
			<div class="svgLogoWrapper">
				{% include 'svg/logo_new.svg' %}
			</div>
			<div class="nameWrapper">
				{% include 'svg/scritta.svg' %}
			</div>
		</div>
		{% comment %}
		<div class="fullscreen js-crossfade">
			<div class="logo purple current" data-bgimg="{% static 'img/home_page_1.png' %}">
			</div>
			<div class="logo green" data-bgimg="{% static 'img/home_page_3.png' %}">
			</div>
			<div class="logo yellow" data-bgimg="{% static 'img/home_page_2.png' %}">
			</div>
		</div>
		{% endcomment %}
		{# placeholder "Gallery" #}
		{% endblock extra_header %}

	</div>
{% endblock header %}
{% block page_content %}
    <main>
		<div class="cont front">
			{% comment %}
			<!-- Projects Sections -->
			<div class="cont project-front-sections-wrap" id="project-front-sections">
				<div class="project-front-sections-inner">
					<ul class="project-front-sections">
						<li>
							<a class="active" data-section="*" href="#">All posts</a>
						</li>
						<li>
							<a data-section=".section1" href="#">Stories</a>
						</li>
						<li>
							<a data-section=".section2" href="#">Travels</a>
						</li>
						<li>
							<a data-section=".section3" href="#">Cooking</a>
						</li>
						<li>
							<a data-section=".section4" href="#">Peoples</a>
						</li>
						<li>
							<a data-section=".section5" href="#">Other</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Projects Sections -->
			{% endcomment %}
			{% comment %}
			<!-- Projects Items -->
			<div class="project-front-list" id="project-front-list">
				<h3 class="tac" style="margin:30px 0;">Prossimi appuntamenti</h3>
				{% last_events_home 3 %}
			</div>
			
			<p class="post-front-link">
				<a href="{% page_url 'uperform' %}" rel="nofollow" target="_blank">Eventi</a>
			</p>
			<!-- Homepage Posts -->

			<!-- Instagram Photos -->
			<ul class="instagram-list js-facebookFeed" id="facebook-list">				
			</ul>
			<p class="instagram-more">
				<a href="https://www.facebook.com/factorhill/" rel="nofollow" target="_blank">Open facebook</a>
			</p>
			<!-- Instagram Photos -->
			{% endcomment %}
		</div>
    </main>
{% endblock page_content %}

{% block fb_app %}
{% static_placeholder 'Facebook App' %}
{% endblock fb_app %}