{% load thumbnail %}
{% thumbnail instance.cover_img "1200x560" crop="center" as im %}
<div class="contacts-img" style="background-image:url({{im.url}});background-size:600px 280px;background-position:center center">
{% endthumbnail %}
	<div class="contactsMask"></div>
	<div class="contactsContent">
		<h2 class="contactsTitle">Factor Hill</h2>
		<ul>
			<li>{{instance.address}}</li>
			<li>{{instance.zipcode}} - {{instance.city}}</li>
			<li>{{instance.telephone_1}}</li>
			<li>{{instance.telephone_2}}</li>
		</ul>
		<div class="social_icons_links">
		    {% if instance.fb_link %}<a href="{{instance.fb_link}}" class="fa fa-facebook facebook_bg js-share"></a>{% endif %}
		    {% if instance.twitter_link %}<a href="{{instance.twitter_link}}" class="fa fa-twitter twitter_bg js-share"></a>{% endif %}
		    {% if instance.linkedin_link %}<a href="{{instance.linkedin_link}}" class="fa fa-linkedin linkedin_bg js-share"></a>{% endif %}
		    {% if instance.yt_link %}<a href="{{instance.yt_link}}" class="fa fa-youtube youtube_bg js-share"></a>{% endif %}
		    {% if instance.instagram_link %}<a href="{{instance.instagram_link}}" class="fa fa-instagram instagram_bg js-share"></a>{% endif %}
		</div>
	</div>

</div>