Dummy plugin tpl

{% load thumbnail %}

{{instance.title|upper}}

{% if instance.fb_link %}<a href="{{instance.fb_link}}" class="i1" target="_blank"><i class="ti-facebook"></i></a>{% endif %}
{% if instance.twitter_link %}<a href="{{instance.twitter_link}}" class="i2"><i class="ti-twitter"></i></a>{% endif %}
{% if instance.instagram_link %}<a href="{{instance.instagram_link}}" class="i3"><i class="ti-instagram"></i></a>{% endif %}
{% if instance.linkedin_link %}<a href="{{instance.linkedin_link}}" class="i4"><i class="ti-linkedin"></i></a>{% endif %}
{% thumbnail instance.cover_img "760x760" crop="center" as im %}
    <img src="{{im.url}}" alt="team member image" />
{% endthumbnail %}