{% load thumbnail %}

<div class="project-i">
	<div class="project-i-info">
		{% thumbnail instance.cover_img "1200x840" crop="center" as im %}
		<p class="project-i-img" style="background: url({{im.url}});background-size:cover;background-position:center center"></p>
		{% endthumbnail %}
		<div class="project-i-caption">
			<div class="project-i-caption-inner">
				<h3>{{instance.title}}</h3>
				<p>{{instance.subtitle}}</p>
			</div>
		</div>
	</div>
	<div class="project-i-cont">
		<div class="project-i-inner">
			{{instance.content|safe}}
		</div>
	</div>
</div>