{% load cms_tags %}

<div 
	id="slider" 
	class="sl-slider-wrapper {% if instance.full_screen %}fullScreen{% else %}cont{% endif %}" 
	data-duration="{{instance.duration}}"
	data-autoplay="{{instance.auto_play}}"
	>
	<div class="gallery sliderWrapper">
		<div class="sl-slider">
			{% for plugin in instance.child_plugin_instances %}
		        {% render_plugin plugin %}
		    {% endfor %}
		</div>

		<nav id="nav-arrows" class="nav-arrows">
			{% if instance.child_plugin_instances|length > 1 %}
			<span class="nav-arrow-prev">Previous</span>
			<span class="nav-arrow-next">Next</span>
			{% endif %}
		</nav>

		<nav id="nav-dots" class="nav-dots">
		</nav>
	</div>
</div>