{% load cms_tags thumbnail %}
<div class="post-slider">
	<ul class="slides">
	{% for photo in instance.gallery.photos.all %}
		{% thumbnail photo.image "1102x571" crop="center" as im %}
		<li>
			<img src="{{im.url}}" alt="{{im.name}}">
		</li>
		{% endthumbnail %}
	{% empty %}
	{% endfor %}
	</ul>
</div>