{% load thumbnail %}
{% thumbnail instance.cover_img "1102x571" crop="center" as im %}
<li>
	{% if instance.link %}<a href="{{instance.link}}" target="_blank">{% endif %}
	<div class="imgWrapper">
		<img src="{{im.url}}" alt="{{im.name}}">
	</div>
	{% if instance.title %}
		{% if instance.subtitle %}
			<div class="infoWrapper" style="color:{{instance.text_color}}">
				{% if instance.title %}<h5>{{instance.title}}</h5>{% endif %}
				{% if instance.subtitle %}<h6>{{instance.subtitle}}</h6>{% endif %}
			</div>
		{% endif %}
	{% endif %}
	{% if instance.link %}</a>{% endif %}
</li>
{% endthumbnail %}
