{% load thumbnail %}

<div class="post-info">
	<a href="#">{{instance.subtitle}}</a>
	<h1>{{instance.title}}</h1>
</div>
{% if instance.gallery %}
<!-- Project - Carousel -->
<div class="post-slider">
	<ul class="slides">
	{% for photo in instance.gallery.photos.all %}
		{% thumbnail photo.image "1102x571" crop="center" as im %}
		<li>
			<img src="{{im.url}}" alt="{{im.name}}">
		</li>
		{% endthumbnail %}
	{% empty %}
	{% endfor %}
	
</div>
<!-- / Project - Carousel -->
{% endif %}
<article>
	{{instance.content|safe}}
</article>