{% load thumbnail %}

{% if instance.yt_link %}
	<div 
		class="sl-slide bg-1 videoSlide {% if instance.auto_play %}js-autoPlay{% endif %}" 
		data-orientation="horizontal" 
		data-id="{{instance.id}}"
		data-link="{{instance.yt_link}}" 
		data-cover_img="{{instance.cover_img}}"
		>
		<div class="videoPlayerWrapper {% if instance.auto_play %}autoPlay{% endif %}">
			<video class="video-js vjs-default-skin"></video>
		</div>
		<div class="table">
			<div class="tableCell" style="color:{{instance.text_color}}">
				{% if instance.icon %}<div class="deco js-hideWhilePlaying" data-icon="{% if instance.icon %}{{instance.icon}}{% else %}{{instance.title|truncatechars:1}}{% endif %}"></div>{% endif %}
				{% if instance.content_img %}<img class="js-hideWhilePlaying" src="{{instance.content_img.url}}" style="">{% endif %}
				<h2 class="js-hideWhilePlaying">{{instance.title}}</h2>
				{% if instance.subtitle or instance.excerpt %}
				<blockquote class="js-hideWhilePlaying">
					<p>{{instance.subtitle}}</p>
					<cite>{{instance.excerpt}}</cite>
				</blockquote>
				{% endif %}	
				{% if instance.link %}
					<a href="{{instance.link}}" class="slideBtn js-hideWhilePlaying">
						{% if instance.link_text %}{{instance.link_text}}{% else %}VAI AL DETTAGLIO{% endif %}
					</a>
				{% endif %}
			</div>
		</div>
		<a href="#" class="js-playVideo playVideoSvgWrapper">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" id="playpause" xmlns:xlink="http://www.w3.org/1999/xlink" fill="{{instance.text_color}}">
				<title>Play</title>
				<polygon points="12,0 25,11.5 25,39 12,50" id="leftbar" />
				<polygon points="25,11.5 39.7,24.5 41.5,26 39.7,27.4 25,39" id="rightbar" />
					<animate to="7,3 19,3 19,47 7,47" id="lefttopause" xlink:href="#leftbar" attributeName="points" dur=".3s" begin="indefinite" fill="freeze" />
					<animate to="12,0 25,11.5 25,39 12,50" id="lefttoplay" xlink:href="#leftbar" attributeName="points" dur=".3s" begin="indefinite" fill="freeze" />
					<animate to="31,3 43,3 43,26 43,47 31,47" id="righttopause" xlink:href="#rightbar" attributeName="points" dur=".3s" begin="indefinite" fill="freeze" />
					<animate to="25,11.5 39.7,24.5 41.5,26 39.7,27.4 25,39" id="righttoplay" xlink:href="#rightbar" attributeName="points" dur=".3s" begin="indefinite" fill="freeze" />
			</svg>
		</a>
	</div>
{% else %}
{% if instance.cover_img %}
		{% thumbnail instance.cover_img "1920x1080" crop="center" as im %}
		{% if instance.full_screen %}
			<div 
				class="sl-slide bg-1" 
				data-orientation="horizontal" 
				data-id="{{instance.id}}"
				style="background-image:url({{im.url}});background-size: cover;background-position: center center;">
				<div class="table">
					<div class="tableCell" style="color:{{instance.text_color}}">
						{% if instance.icon %}<div class="deco" data-icon="{% if instance.icon %}{{instance.icon}}{% else %}{{instance.title|truncatechars:1}}{% endif %}"></div>{% endif %}
						{% if instance.content_img %}<img class="js-hideWhilePlaying" src="{{instance.content_img.url}}" style="">{% endif %}
						<h2>{{instance.title}}</h2>
						{% if instance.subtitle or instance.excerpt %}
						<blockquote>
							<p>{{instance.subtitle}}</p>
							<cite>{{instance.excerpt}}</cite>
						</blockquote>
						{% endif %}	
						{% if instance.link %}
							<a href="{{instance.link}}" class="slideBtn">
								{% if instance.link_text %}{{instance.link_text}}{% else %}VAI AL DETTAGLIO{% endif %}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div 
				class="sl-slide bg-1" 
				data-orientation="horizontal" 
				data-id="{{instance.id}}"
				style="background-image:url({{im.url}});background-size: cover;background-position: center center;{% if instance.bg_color %}background-color:{{instance.bg_color}}{% endif %}">
				<div class="table">
					<div class="tableCell" style="color:{{instance.text_color}}">
						{% if instance.content_img %}<img class="js-hideWhilePlaying" src="{{instance.content_img.url}}" style="">{% endif %}
						<h2>{{instance.title}}</h2>
						{% if instance.subtitle or instance.excerpt %}
						<blockquote>
							<p>{{instance.subtitle}}</p>
							<cite>{{instance.excerpt}}</cite>
						</blockquote>
						{% endif %}	
					</div>
				</div>
			</div>
		{% endif %}
		{% endthumbnail %}
	{% else %}
		<div 
			class="sl-slide bg-1" 
			data-orientation="horizontal" 
			data-id="{{instance.id}}"
			>
			<div class="sl-slide-inner" {% if instance.bg_color %}style="background-color:{{instance.bg_color}}"{% endif %}>
				<div class="table" style="color:{{instance.text_color}}">
					<div class="tableCell">
					{% if instance.icon %}<div class="deco" data-icon="{% if instance.icon %}{{instance.icon}}{% else %}{{instance.title|truncatechars:1}}{% endif %}"></div>{% endif %}
					{% if instance.content_img %}<img class="js-hideWhilePlaying" src="{{instance.content_img.url}}" style="">{% endif %}
					<h2>{{instance.title}}</h2>
					{% if instance.subtitle or instance.excerpt %}
					<blockquote>
						<p>{{instance.subtitle}}</p>
						<cite>{{instance.excerpt}}</cite>
					</blockquote>
					{% endif %}
					{% if instance.link %}
						<a href="{{instance.link}}" class="slideBtn">
							{% if instance.link_text %}{{instance.link_text}}{% else %}VAI AL DETTAGLIO{% endif %}
						</a>
					{% endif %}
					</div>
				</div>
			</div>
		</div>

	{% endif %}

{% endif %}