{% load thumbnail %}

<div class="about-i {% if instance.yt_link %}{{instance.yt_link}}{% endif %}">
    {% thumbnail instance.cover_img "760x760" crop="center" as im %}
    <a class="modal-img" data-fancybox-group="about" href="{{im.url}}">
	{% endthumbnail %}    	
    	{% thumbnail instance.cover_img "600x560" crop="center" as img %}
        <img src="{{img.url}}" alt="{{instance.title}}" width="300" height="280" style="width:300px;height:280px;">
        {% endthumbnail %}
    </a>
</div>
