{% load thumbnail %}

<div class="team js-customTeam">
    <a href="mailto:{{instance.email}}" class="team-i-img" > 
        {% thumbnail instance.cover_img "760x760" crop="center" as im %}
        <img src="{{im.url}}" alt="{{instance.title}}"></a>
        {% endthumbnail %}
    <div class="infoWrapper">
        <h3>{{instance.title}}</h3>
        <p class="team-i-position">{{instance.subtitle}}</p>
    </div>
    <div class="hidden contentWrapper">
        <p>{{instance.content|safe}}</p>
        <ul class="team-i-social">
            {% if instance.fb_link %}
            <li>
                <a href="{{instance.fb_link}}" target=" _blank" rel="nofollow">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            {% endif %}
            {% if instance.twitter_link %}
            <li>
                <a href="{{instance.twitter_link}}" target=" _blank" rel="nofollow">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            {% endif %}
            {% if instance.instagram_link %}
            <li>
                <a href="{{instance.instagram_link}}" target=" _blank" rel="nofollow">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            {% endif %}
            {% if instance.linkedin_link %}
            <li>
                <a href="{{instance.linkedin_link}}" target=" _blank" rel="nofollow">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>