
.imageReplacer { cursor: wait; }

.tac{text-align: center;}


.fullscreen{
	width: 100%;
	height: 100vh;
	background: #fff;
	position: relative;
	.logo{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.2s linear;
		@media(min-width: 992px){
			background-size: 500px;	
		}

		@media (max-width: 991px){
			background-size: 350px;			
		}

		@media (max-width: 767px){
			background-size: 80vw;			
		}
		
		&.purple{
			background-image: url(../img/home_page_1.png);
			z-index: 3;
		}
		&.green{
			background-image: url(../img/home_page_3.png);
			z-index: 2;
		}
		&.yellow{
			background-image: url(../img/home_page_2.png);
			z-index: 1;
		}
		
	}
}


.navTrigger i {
    -webkit-transition-property: -webkit-transform background-color;
    transition-property: -webkit-transform background-color;
    transition-property: transform background-color;
    transition-property: transform background-color, -webkit-transform background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: rgb(200,200,200);
}
.navTrigger i:before,
.navTrigger i:after {
    content: "";
    -webkit-transition-property: -webkit-transform background-color;
    transition-property: -webkit-transform background-color;
    transition-property: transform background-color;
    transition-property: transform background-color, -webkit-transform background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: rgb(200,200,200);
}
.navTrigger i:before {
    top: -8px;
}
.navTrigger i:after {
    top: 8px;
}
.navTrigger.active i {
    background-color: transparent;
}
.navTrigger.active i:before,
.navTrigger.active i:after {
    top: 0px;
}
.navTrigger.active i:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navTrigger.active i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}