@import 'variables.less';
@import 'base.less';
@import 'helpers.less';
@import 'mixins.less';
@import 'typography.less';
@import 'fonts.less';

body{
	background: rgba(240, 240, 240, 0.5);
}

.loader{
	display: none;
}

a:link, a:visited, a:hover, a:active{
	color: rgb(26, 47, 97);
}

.zeroOpacity{
	opacity: 0;
}

.searchFormWrapper{
	display: none;
}

#mainmenu a{
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
	font-size: 1em;
	line-height: 1.5;
}

.site-header .mainmenu-btn{
	margin: 0 0 0 -18px;
	width: 30px;
}

.page-styling{
	background: transparent;
}
.genericNs,
.homeNs{
	.site-header{
		z-index: 10000;
		background-color: transparent;
		padding: 0 60px 44px;
		@media(max-width: 550px){
			padding-left: 48px;
		}
	}

	.page{
		background: transparent;
	}
}

.homeNs{
	.mainmenu{
		z-index: 9999;
	}

	.top{
		background: #08b9df;
	}

	.instagram-list li a{
		min-height: 200px;
		display: block;
		width: 100%;
		height: 100%;
		&:hover{
			transform: none;
		}
		.imgBg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.desc{
			opacity: 0;
			display: table;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 200px;
			padding: 20px;
			background: rgba(0,0,0,0.7);
			transition: all 0.5s;
			color: #fff;
			text-align: center;
		}

		&:hover{
			.desc{
				opacity: 1;
			}
		}

		.iconWrapper{
			font-size: 2em;
			color: #08b9df;
			.fa{color: #08b9df}
		}
	}
}

.project-list{
	padding: 0 50px;
}
.project-i-cont{
	background-color: transparent;
}

.page {
	@media(min-width: 768px){
		background: @light-blue;
		border: none;
		padding: 0;
		.site-header{
			padding-bottom: 44px; 
		}

		.project-img{
			&:after,
			&:before{
				content: none;
			}
		}
	}

	@media(max-width: 767px){
		padding: 0;
		border: none;

		.header{
			position: absolute;
		}

		.project-img{
			height: 290px;
			.bgImage{
				position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background-position: center center;
			    background-size: cover;
			}
		}
	}
	.site-header{
		position: absolute;
		top: 30px;
		left: 30px;
		right: 30px;
		z-index: 1000;
		width: auto;
		@media(min-width: 768px){
			padding-left: 60px;
			padding-right: 60px;
		}
		@media(max-width: 767px){
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.top{
	padding: 0;
	&:before{
		content: none;
	}
}
.line-ct{
	display: none !important;
}

.footer{
	.footer-social{
		margin-bottom: 40px;
		text-align: center;
		li{margin: 0 25px;}
	}
}
.footer-logo{
	img{
		width: 230px;
		@media (max-width: 767px){
			width: 100px;
		}
	}
}

.site-header .header-logo img{
	@media(min-width: 769px){
		width: 100px;
	}
}

.page-styling a {
    color: #08b9df;
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.no-overlay {
	.page-styling{
		font-size: 16px;
	    color: #969aa1;
	    line-height: 190%;
	    background: #fff;
	    position: relative;
	}

	.page-topttl{
		text-align: center;
	    padding: 170px 50px 140px;
	    background: #fff;
	    margin-top: -30px;
	    margin-bottom: 50px;
	    background: transparent;
	    z-index: 0;
	    position: relative;
	    &:before{
	    	content: '';
	    	width: 100%;
	    	height: 100%;
	    	z-index: 10;
	    	top: 0;
	    	left: 0;
	    	position: absolute;
	    	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
	    }
	    &:after{
	    	content: '';
	    	width: 100%;
	    	height: 100%;
	    	z-index: 0;
	    	top: 0;
	    	left: 0;
	    	position: absolute;
	    	background: url(../img/immagine_portfolio.png);
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center center;

	    }
	    h2{
	    	line-height: 1.1;
		    margin: 25px 0 25px;
		    color: #fff;
		    font-size: 28px;
	    }
	    p{
	    	line-height: 190%;
    		margin: 25px 0 25px;
	    }
	    ul, h2, p{
	    	position: relative;
		    z-index: 100;
	    }
	    &.page-topttl-light{
	    	color: #fff;
	    }
	}

	.b-crumbs{
	    text-align: center;
	    margin: 25px 0 22px;
	    padding: 0;
	    li{
    	    margin: 0 12px 3px;
		    display: inline-block;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 700;
		    padding: 0 12px;
		    position: relative;
		    line-height: 190%;
		    a{
	    	    color: #fff;
			    display: inline-block;
			    border-bottom: 1px solid transparent;
		    }
		    span{
		    	color: #fff;
		    }
		    &:after{
	    	    content: '\f105';
				position: absolute;
				font-family: 'FontAwesome';
				font-size: 13px;
				color: #fff;
				top: 1px;
				right: -17px;
				left: auto;
				display: block;
		    }
		    &:last-child:after{
		    	content: '';
		    }
	    }
	}
}

.page-styling h1, .page-styling h2, .page-styling h3, .page-styling h4, .page-styling h5, .page-styling h6{
	font-size: 24px;
    font-weight: 700;
    color: #3e4751;
    margin: 0 0 24px;
    font-family: 'Montserrat', sans-serif;
}

.about-i{
	.about-cont{
		padding-bottom: 45px;
	}
}

.social_icons_links{
	.facebook_bg, .youtube_bg, .twitter_bg, .instagram_bg, .linkedin_bg{
		display: inline-block;
		width: 30px;
		height: 30px;
		color: #fff;
	    line-height: 30px;
	    text-align: center;
	    border-radius: 50%;
	    margin: 15px 15px 15px 0;
	}

	.facebook_bg{
		background: #3b5998;
	}

	.youtube_bg{
		background: #cc181e;
	}

	.twitter_bg{
		background: #1da1f2;
	}
	.instagram_bg{
		background: #833ab4;
	}

	.linkedin_bg{
		background: #0077b5;
	}

	
}

.contactsNs {
	.contactsTitle{
		font-size: 30px;
	    margin: 0 0 17px;
	    padding: 0;
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: 700;
	}

    .contacts-img{
    	padding: 40px 47px 48px;
    	position: relative;
    }
    .contactsMask{
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	background: rgba(100,100,100,0.75);
    }

    .mask{
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(255,255,255,0.5);
    }

    .contactsContent{
    	position: relative;
    	color: #fff;
    	z-index: 10;
    }
    
    .cf_send_message{
	   	bottom: 26px;
	    font-size: 13px;
	    color: #fff;
	    font-weight: 700;
	    cursor: pointer;
	    text-transform: uppercase;
	    line-height: 100%;
	    position: absolute;
	    right: 2px;
	    letter-spacing: 0.02em;
	    margin: -20px 0 0;
	    padding: 0;
	    height: 40px;
	    border: none;
	    background: transparent;
	    transition: all 0.2s;
    }

    .contacts-form form input[type=text].error,
    .contacts-form form textarea.error{
    	border-bottom-color: red;
    }
}

.topslider .slider .slide .topslider-ttl{
	color: rgba(255, 255, 255, 0.5) !important;
	font-weight: 400 !important;
	font-family: 'Helvetica' !important;
}

.partners{
	margin: 0 auto 20px;
	img{
		display: inline-block;
		max-width: 210px;
		vertical-align: middle;
		margin: 0 5px;
		&.rigenera{
			margin-top: 10px;
		}
	}
}

#instagram-list{
	@media(max-width: 768px){
		height: auto !important;
	}
}

.hideMobile{
	@media(max-width: 767px){
		display: none !important;
	}
}

.hideTablet{
	@media(min-width: 768px) and (max-width: 991px){
		display: none !important;
	}
}

.hideDesktop{
	@media(min-width: 992px){
		display: none !important;
	}
}

body .post{
	background: transparent;
	.post-info{
		@media(min-width: 768px){
			padding-left: 120px;
		}
		time{
			width: 120px;
		}
	} 

	.slides{
		li{
			position: relative;
			.infoWrapper{
				position: absolute;
			    width: 40%;
			    left: 55%;
			    height: auto;
			    bottom: 15%;
			    text-align: center;
			    background: rgba(100,100,100,0.5);
			    padding: 20px;
			    .DR;
			    @media(max-width: 767px){
			    	top: 100%;
			    }
			    h5{
			    	font-size: 2em;
			    	margin: 15px 0;
			    }
			    h6{
			    	font-size: 1.6em;
			    	margin: 15px 0;
			    }
			}
		}
	}
} 

.team-wrap .team-i p{
	font-size: 13px;
}



.genericNs{
	.cont{
		.sliderWrapper{
			position: relative;
			height: 540px;
		}
	}
}
.sl-slider-wrapper {
	/*
	width: 800px;
	height: 400px;
	*/

	@media(max-width: 767px){
		padding-top: 110px;
		padding-bottom: 110px;
	}

	@media(min-width: 768px){
		padding: 170px 0 50px;
		box-sizing: content-box;
	}


	
	&.fullScreen{
		padding: 0;
		.sliderWrapper{
			position: absolute;
		}
	}

	.videoSlide{
		.videoPlayerWrapper{
			position: absolute;
			z-index: 10;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		.table{ 
			position: relative; 
			z-index: 100;
			width: 50%;
			margin: 0 auto;
		}
		.autoPlay{
			opacity: 0;
		}
		.vjs-control-bar,
		.vjs-error-display.vjs-hidden,
		.vjs-caption-settings,
		.vjs-big-play-button{ 
			display:none!important; 
		}

		.playVideoSvgWrapper{
			@media(max-width: 767px){
				width: 50px;
				svg{
					width: 50px;
				}
			}
			width: 70px;
			display: block;
			position: absolute;
			z-index: 100;
			bottom: 15px;
			right:15px;
			margin: 0 auto;
			svg{
				width: 70px;
			}
		}
	}

	.table{
		width: 100%;
		height: 100%;
	}

	.sliderWrapper{
		width: 100%;
		position: relative;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
		top: 0;
		left: 0;
	}
	.sl-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.sl-slide {
		z-index: 1;
	}

	.sl-slide,
	.sl-slides-wrapper,
	.sl-slide-inner {
		position: relative;
		width: 100%;
		@media(max-width: 767px){
			height: 380px;
		}
		@media(min-width: 768px) and(max-width: 1199px){
			min-height: 435px;
			.table{
				min-height: 435px;
			}
		}
		@media(min-width: 1200px){
			min-height: 675px;
			.table{
				min-height: 675px;
			}
		}
		top: 0;
		left: 0;
	}

	&.fullScreen{
		.sl-slide,
		.sl-slides-wrapper,
		.sl-slide-inner {
			position: absolute;
			height: 100%;
		}
	}

	@media(min-width: 1200px){
		height: 675px;
	}

	.sl-content-slice {
		overflow: hidden;
		position: absolute;
		box-sizing: content-box;
		background: #fff;
	}
	.sl-slide-horizontal .sl-content-slice {
		width: 100%;
		height: 50%;
		left: -200px;
	}

	.sl-slide-horizontal .sl-content-slice:first-child {
		top: -200px;
		padding: 200px 200px 0px 200px;
	}

	.sl-slide-horizontal .sl-content-slice:nth-child(2) {
		top: 50%;
		padding: 0px 200px 200px 200px;
	}

	/* Vertical slice */

	.sl-slide-vertical .sl-content-slice {
		width: 50%;
		height: 100%;
		top: -200px;
	}

	.sl-slide-vertical .sl-content-slice:first-child {
		left: -200px;
		padding: 200px 0px 200px 200px;
	}

	.sl-slide-vertical .sl-content-slice:nth-child(2) {
		left: 50%;
		padding: 200px 200px 200px 0px;
	}

	.sl-content-wrapper {
		position: absolute;
	}

	.sl-content {
		width: 100%;
		height: 100%;
		background: #fff;
	}

	.slideBtn{
		display: block;
	    margin: 10px auto;
	    padding: 5px 30px;
	    text-align: center;
	    max-width: 300px;
	    background: rgb(26, 47, 97);
	    font-size: 2.5em;
	    text-transform: uppercase;
	    border-radius: 5px;
	    &:link, &:visited, &:hover, &:active{ color: #fff; }
	    .DR;
	    transition: all .2s ease-in-out;
	    &:hover{
	    	transform: scale(1.05);
	    }
	}

	.nav-arrows span {
		position: absolute;
		z-index: 2000;
		top: 50%;
		width: 40px;
		height: 40px;
		border: 8px solid #ddd;
		border: 8px solid rgba(150,150,150,0.4);
		text-indent: -90000px;
		margin-top: -40px;
		cursor: pointer;
		transform: rotate(45deg);
	}

	.nav-arrows span:hover {
		border-color: rgba(150,150,150,0.9);
	}

	.nav-arrows span.nav-arrow-prev {
		left: 5%;
		border-right: none;
		border-top: none;
	}

	.nav-arrows span.nav-arrow-next {
		right: 5%;
		border-left: none;
		border-bottom: none;
	}
	.nav-dots {
		text-align: center;
		position: absolute;
		bottom: 2%;
		height: 30px;
		width: 100%;
		left: 0;
		z-index: 1000;
	}

	.nav-dots span {
		display: inline-block;
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		margin: 3px;
		background: #ddd;
		background: rgba(150,150,150,0.4);
		cursor: pointer;
		box-shadow: 
			0 1px 1px rgba(255,255,255,0.4), 
			inset 0 1px 1px rgba(0,0,0,0.1);
	}

	.nav-dots span.nav-dot-current:after {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		top: 3px;
		left: 3px;
		border-radius: 50%;
		background: rgba(255,255,255,0.8);
	}

	.deco {
		width: 260px;
		height: 260px;
		margin: 0 auto;
		@media(max-width: 768px){
			width: 80px;
			height: 80px;
			margin: 0 auto;
			font-size: 0.8em;
		}
		border: 2px dashed #ddd;
		border: 2px dashed rgba(150,150,150,0.4);
		border-radius: 50%;
		position: relative;
	}

	[data-icon]:after {
	    content: attr(data-icon);
	    font-family: 'AnimalsNormal';
		color: #fff;
		text-shadow: 0 0 1px #999;
		position: absolute;
		width: 220px;
		height: 220px;
		line-height: 220px;
		font-size: 100px;
		margin: -110px 0 0 -110px;
		@media(max-width: 768px){
			width: 120px;
			height: 120px;
			line-height: 120px;
			font-size: 60px;
			margin: -60px 0 0 -60px;
		}
		text-align: center;
		top: 50%;
		left: 50%;
		box-shadow: inset 0 0 0 10px #f7f7f7;
		border-radius: 50%;
	}

	.sl-slide h2 {
		/*color: #fff;*/
		/*text-shadow: 0 0 1px #fff;*/
		padding: 20px;
		font-size: 34px;
		letter-spacing: 13px;

		@media(max-width: 768px){
			font-size: 17px;
			letter-spacing: 5px;
		}
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		line-height: 50px;
	}

	.sl-slide blockquote {
		position: relative;
		width: 100%;
		text-align: center;
		left: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		height: 70px;
		/*color: #fff;*/
		z-index: 2;
		bottom: 50%;
		padding: 0;
	}

	.sl-slide{
		img{
			margin: 0 auto;
			display: block;
			max-width: 56%;
			@media(max-width: 768px){
				width: 60%;
				margin-top: 50%;
			}
		}
	}

	.sl-slide blockquote p{
		margin: 0 auto;
		width: 60%;
		/*color: #fff;*/
		max-width: 400px;
		position: relative;
	}

	.sl-slide blockquote p:before {
		/*
		color: #f0f0f0;
		color: rgba(244,244,244,0.65);
		*/
		font-family: "Bookman Old Style", Bookman, Garamond, serif;
		position: absolute;
		line-height: 60px;
		width: 75px;
		height: 75px;
		font-size: 200px;
		z-index: -1;
		left: -80px;
		top: 35px;
		content: '\201C';
		@media(max-width: 768px){
			content: none;
		}
	}

	.sl-slide blockquote cite {
		font-size: 10px;
		padding-top: 10px;
		display: inline-block;
		font-style: normal;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	/* First Slide */
	.bg-1 .sl-slide-inner,
	.bg-1 .sl-content-slice {
		background: rgb(246, 184, 140);
	}

	/* Second Slide */
	.bg-2 .sl-slide-inner,
	.bg-2 .sl-content-slice {
		background: rgb(119, 229, 190);
	}

	.bg-2 [data-icon]:after,
	.bg-2 h2 {
		color: #fff;
	}

	.bg-2 blockquote:before {
		color: #222;
	}

	/* Third Slide */
	.bg-3 .sl-slide-inner,
	.bg-3 .sl-content-slice {
		background: rgb(229, 148, 178);
	}

	.bg-3 .deco {
		border-color: #fff;
		border-color: rgba(255,255,255,0.5);
	}

	.bg-3 [data-icon]:after {
		color: #fff;
		text-shadow: 0 0 1px #fff;
		box-shadow: inset 0 0 0 10px #b55381;
	}

	.bg-3 h2,
	.bg-3 blockquote{
		color: #fff;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	}

	.bg-3 blockquote:before {
		color: #c46c96;
	}

	/* Forth Slide */
	.bg-4 .sl-slide-inner,
	.bg-4 .sl-content-slice {
		background: #5bc2ce;
	}

	.bg-4 .deco {
		border-color: #379eaa;
	}

	.bg-4 [data-icon]:after {
		text-shadow: 0 0 1px #277d87;
		color: #277d87;
	}

	.bg-4 h2,
	.bg-4 blockquote{
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}

	.bg-4 blockquote:before {
		color: #379eaa;
	}

	/* Fifth Slide */
	.bg-5 .sl-slide-inner,
	.bg-5 .sl-content-slice {
		background: #ffeb41;
	}

	.bg-5 .deco {
		border-color: #ECD82C;
	}

	.bg-5 .deco:after {
		color: #000;
		text-shadow: 0 0 1px #000;
	}

	.bg-5 h2,
	.bg-5 blockquote{
		color: #000;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	}

	.bg-5 blockquote:before {
		color: #ecd82c;
	}


	/* Animations for elements */

	.sl-trans-elems .deco{
		animation: roll 1s ease-out both;
	}

	.sl-trans-elems h2{
		animation: moveUp 1s ease-in-out both;
	}

	.sl-trans-elems blockquote{
		animation: fadeIn 0.5s linear 0.5s both;
	}

	@keyframes roll{
		0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
		100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
	}

	@keyframes moveUp{
		0% {transform: translateY(40px);}
		100% {transform: translateY(0px);}
	}

	@keyframes fadeIn{
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.sl-trans-back-elems .deco{
		animation: scaleDown 1s ease-in-out both;
	}

	.sl-trans-back-elems h2{
		animation: fadeOut 1s ease-in-out both;
	}

	.sl-trans-back-elems blockquote{
		animation: fadeOut 1s linear both;
	}

	@keyframes scaleDown{
		0% {transform: scale(1);}
		100% {transform: scale(0.5);}
	}

	@keyframes fadeOut{
		0% {opacity: 1;}
		100% {opacity: 0;}
	}
}

.topSlider{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

nav#primary-menu > ul > li, .mainmenu > ul > li,
nav#primary-menu > ul > li > ul > li, .mainmenu > ul > li > ul > li{
	text-transform: capitalize;
}


.fullscreenEl{
	width: 100vw;
	text-align: center;
	.inner{
		height: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.genericNs{
	.post .post-info{
		padding-left: 0;
	}
	.project p{

		line-height: 1.5;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 767px){
	.aboutUsNs{
		#main > .cont{
			padding-left: 0;
			padding-right: 0;
		}
		.post{
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.aboutUsNs{
	#main{
		padding-bottom: 50px
	}
}

.portfolioDetailNs{
	.post{
		.post-info{
			padding-left: 0;
		}	
	} 
}

.homeNs{
	.fullscreen{
		width: 100%;
		height: 100vh;
		min-height: 400px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.svgLogoWrapper{
			width: 100%;
			text-align: center;
			position: relative;
			#shape{
				fill: #0099A8;
				transform-origin: center;
				animation-name: crossfade;
	  			animation-duration: 36s;
	  			animation-iteration-count: infinite;
	  			animation-timing-function: linear;
			}
		}

		.nameWrapper{
			position: absolute;
			width: 100%;
			text-align: center;
			z-index: 1;
			path{
				fill: #fff !important;
			}
		}

		svg{
			width: 100%;
			max-width: 900px;
		}
	}
}

.aboutUsNs{
	.staff{
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
	}
}

.staffContainerWrapper{
	margin-bottom: 30px;
}

.vc_column-inner{
	position: relative;
	overflow: hidden;
	.staffWrapper{
		max-width: 90%;
		margin: 0 auto;
	}
	.staffDetailWrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 100%;
		top: 0;padding: 15px;
		background: rgba(255,255,255,0.95);
		display: flex;
		.detail{
			flex: 1 0 90%;
			overflow: auto;
		}
		.close{
			font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
			font-size: 20px;
			line-height: 0.5;
			margin-left: 20px;
		}
	}
}

.team-wrap{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	.team{
		flex: 0 0 25%;
		@media(max-width: 767px){
			flex: 1 0 50%;
		}
		border-radius: 100%;
		overflow: hidden; 
		position: relative;
		&:hover{
			cursor: pointer;
		};
	}

	.team-i-img{
		display: flex;
		justify-content: center;
		align-items: center;		
	}

	.infoWrapper{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		left: 0;
		text-align: center;
		display: flex;
		justify-content: center;
		align-self: center;
		background: rgba(222,222,222,0.5);
		flex-direction: column;
		color: #fff;
	}
}

@keyframes crossfade{
	0% {
		transform: rotate(0deg);
		fill: #ab004e;
	}

	33%{
		transform: rotate(120deg);
		fill: #0099a8;
	}

	66%{
		transform: rotate(240deg);
		fill: #fccd2b;
	}

	100%{
		transform: rotate(360deg);
		fill: #ab004e;
	}
}


.marginBottom{
	margin-bottom: 20px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 550px){
	body .post {
	    padding-top: 30px;
	    padding-left: 0;
	    padding-right: 0;
	    margin-right: auto;
	    margin-left: auto;
	}
}