@import 'fontfaces.less';

.H{
  font-family: 'helveticaregular', sans-serif;
}

.HCB{
  font-family: 'helvetica_neueregular', sans-serif;
}

.DR{
	font-family: 'dooodleista';
	font-weight: 400;
	font-style: normal;
}

.DB{
	font-family: 'dooodleista';
	font-weight: 700;
	font-style: normal;
}

.DC{
	font-family: 'dooodleista-condensed';
	font-weight: 400;
	font-style: normal;
}