@import 'variables.less';
@import 'base.less';
@import 'helpers.less';
@import 'mixins.less';
@import 'typography.less';
@import 'fonts.less';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
	font-family: 'MontserratBlack';
	src: url('../fonts/MontserratBlack.eot');
	src: url('../fonts/MontserratBlack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MontserratBlack.otf') format('opentype'),
	url('../fonts/MontserratBlack.woff2') format('woff2'),
	url('../fonts/MontserratBlack.woff') format('woff'),
	url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	position: relative;
	background: #f1f1f1;
}
body * {
	box-sizing: border-box;
	line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
	line-height: 1.1;
}
h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 700;
}
i, em {
	font-style: italic;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
input[type=text],
input[type=submit],
input[type=image],
input[type=password],
input[type=email],
button,
textarea {
    -webkit-appearance: none;
}
textarea,
button,
input[type=password],
input[type=email],
input[type=submit],
input[type=text] {
	font-family: 'Open Sans', sans-serif;
}
a:focus {
	text-decoration: none;
}
textarea:focus,
button:focus,
a:focus,
input:focus {
	outline: none;
}



@keyframes new-item-animation {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-300px);
		-moz-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		-o-transform: translateX(-300px);
		transform: translateX(-300px)
	}
	70% {
		opacity: 1;
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0)
	}
}




/* CONTAINER */

.cont {
	width: 1200px;
	margin: 0 auto;
}
.cont:after {
	clear: both;
	display: block;
	content: '';
}

/* CONTAINER */





/* HEADER */

.top {
	position: relative;
	padding: 30px 30px 0;
	height: auto;
}
.top:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	background: #fff;
	bottom: 30px;
	left: 0;
	right: 0;
}
.top:after {
	clear: both;
	display: block;
	content: '';
}
.header {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	padding: 0 44px;
}
.header:after {
	clear: both;
	display: block;
	content: '';
}
.header .header-logo {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	top: 0;
	line-height: 114px;
	z-index: 3;
	z-index: 10;
}
.header .header-logo img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.header .mainmenu-btn {
	position:relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	cursor:pointer;
    float: left;
    margin: 44px 0 0;
    position: relative;
	z-index: 11;
    width: 43px;
    height: 33px;
    display: block;
}
.mainmenu-btn-line{
	display: block;
	position: absolute;
	height: 3px;
	width: 43px;
	background: #fff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-o-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
}
.mainmenu-btn-line:nth-child(1) {
	top: 0px;
	width:23px;
}
.mainmenu-btn-line:nth-child(2), .mainmenu-btn-line:nth-child(3) {
	top: 13px;
	width:33px;
}
.mainmenu-btn-line:nth-child(4) {
	top: 26px;
}
.mainmenu-btn.opened {
	z-index: 103;
}
.mainmenu-btn.opened .mainmenu-btn-line {
	background: #383e48;
}
.mainmenu-btn.opened .mainmenu-btn-line:nth-child(1) {
	top: 8px;
	width: 0%;
	left: 50%;
}
.mainmenu-btn.opened .mainmenu-btn-line:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mainmenu-btn.opened .mainmenu-btn-line:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.mainmenu-btn.opened .mainmenu-btn-line:nth-child(4) {
	top: 8px;
	width: 0%;
	left: 50%;
}
.header .header-search {
	float: right;
	padding: 46px 0 0;
	position: relative;
	z-index: 4;
	z-index: 11;
}
.header .header-search-btn {
	display: block;
	font-size: 18px;
	color: #fff;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.header .header-search-btn.opened .fa:before {
	content: '\f00d';
}
.header .header-search form {
	position: absolute;
	top: 100%;
	right: -20px;
	background: #fff;
	padding: 0 20px;
	margin: 30px 0 0;
	box-shadow: 0px 0px 11px 0 rgba(21,25,26,0.1);
	display: block;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translate3d(0, 10px, 0);
	-moz-transform: translate3d(0, 10px, 0);
	-ms-transform: translate3d(0, 10px, 0);
	-o-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
	visibility: hidden;
	opacity: 0;
}
.header .header-search .header-search-btn.opened + form {
	opacity: 1;
	-webkit-transform: translate3d(0, 0px, 0);
	-moz-transform: translate3d(0, 0px, 0);
	-ms-transform: translate3d(0, 0px, 0);
	-o-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0);
	visibility: visible;
}
.header .header-search form:after {
	position: absolute;
	content: '\f106';
	font-family: FontAwesome;
	font-size: 15px;
	color: #fff;
	top: 0;
	margin: -29px 0 0;
    right: 23px;
}
.header .header-search form input[type=text] {
    background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    font-size: 15px;
    color: #969aa1;
    height: 48px;
    width: 230px;
    padding: 0 20px 0 0;
    display: block;
}
.header .header-search form input[type=text]::-webkit-input-placeholder {
    color: #969aa1;
}
.header .header-search form input[type=text]::-moz-placeholder {
   color: #969aa1;
   opacity: 1;
}
.header .header-search form input[type=text]:-ms-input-placeholder {
   color: #969aa1;
}
.header .header-search form button[type=submit] {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 100%;
	position: absolute;
	right: 20px;
	top: 50%;
	letter-spacing: 0.02em;
	margin: -20px 0 0;
	padding: 0;
	height: 40px;
	border: none;
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    color: #969aa1;
}
.header .header-search form button[type=submit] .fa {
	font-size: 18px;
	margin: 0 0 0 6px;
}
.header .header-search form button[type=submit]:hover {
	color: #f6b88c;
}
.mainmenu-bg {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(56, 62, 72, 0.8);
	z-index: 100;
}
.mainmenu {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	height: 100%;
	z-index: 101;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    left: -400px;
}
body.menu-opened .mainmenu {
	left: 0;
}
.mainmenu > ul {
    padding: 175px 0 0 0;
    width: 360px;
}
.mainmenu > ul > li {
	font-size: 25px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0 0 102px;
	/*white-space: nowrap;*/
	margin: 0;
    padding: 0 30px 0 72px;
}

.mainmenu > ul > li.mainmenu-parent > a > .fa {
    display: none;
}
.mainmenu > ul > li > a {
	color: #888b91;
	display: block;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	height: 100%;
	position: relative;
}
.mainmenu > ul > li.active > a {
	color: #383e48;
}
.mainmenu > ul > li > a:hover {
	color: #383e48;
}
.mainmenu > ul > li:hover > a {
	color: #383e48;
}
.mainmenu > ul > li ul li a {
	color: #383e48;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	display: block;
	position: relative;
}
.mainmenu > ul > li ul li.active > a {
	color: #f6b88c;
}
.mainmenu > ul > li ul li > a:hover {
	color: #f6b88c;
}
.mainmenu > ul > li > ul {
	position: absolute;
	border-left: 1px solid #ebebeb;
    top: 0;
    left: 100%;
    background: #fff;
    height: 100%;
    padding: 0;
	display: none;
    min-width: 300px;
    width: 300px;
    padding-top: 175px;
}
.mainmenu > ul > li > ul > li {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    margin: 0;
    padding: 0 30px 0 58px;
}
.mainmenu > ul > li > ul > li ul {
	display: none;
	padding-left: 15px;
}
.mainmenu > ul > li > ul > li ul li {
	padding-top: 10px;
}
.mainmenu > ul > li ul li > a >.fa {
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50%;
    margin: -16px 0 0;
    display: block;
    width: 40px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #383e48;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.mainmenu > ul > li ul li > a >.fa:hover {
    color: #888b91;
}
.mainmenu > ul > li ul li.opened > a >.fa {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* HEADER */





/* TOP SLIDER */

.topslider {
	padding-top: 80px;
	overflow: hidden;
	position: relative;
	height: 100%;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	background: transparent;
}
.topslider .slider {
	margin: 0 auto;
}
.topslider .slider .slide {
	display: none;
}
.topslider .responisve-container {
	height: 750px;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.topslider .slider .slide:after {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	top: -80px;
	bottom: 0;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 0 0 -600px;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.topslider .slider .slide:before {
	content: '';
	position: absolute;
	right: 50%;
	display: block;
	top: 0;
	top: -80px;
	bottom: 0;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 -600px 0 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.topslider .slider .slide .line-ct {
	z-index: 1;
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	top: -80px;
	bottom: 0;
	width: 1px !important;
	background: rgba(255,255,255,0.2);
}
.topslider .slider .slide .topslider-img {
	display: block;
	z-index: 2;
	text-align: center;
}
.topslider .slider .slide .topslider-img img {
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
	width: auto;
	height: auto;
}
.topslider .slider .slide img {
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
	width: auto;
	height: auto;
}
.topslider .slider .slide .topslider-ttl {
	display: block;
	z-index: 2;
	text-align: center;
	font-size: 197px;
	color: rgba(255,255,255,0.1);
	position: absolute;
	z-index: 1;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 100%;
    font-family: 'MontserratBlack', 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}
.topslider .prev,
.topslider .next {
	width: auto;
	height: auto;
	border-radius: 0;
	line-height: 100%;
	margin: 0;
	top: 50%;
	opacity: 1;
	text-align: center;
	background: none;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	letter-spacing: 0.1em;
	color: #fff;
	display: block;
	position: absolute;
	z-index: 10;
}
.topslider .prev {
	left: 0;
	padding: 0 0 11px 80px;
}
.topslider .prev:hover {
	left: -10px;
}
.topslider .next {
	right: 0;
	padding: 0 80px 11px 0;
}
.topslider .next:hover {
	right: -10px;
}
.fraction-slider{
	position:relative;
	width:100%;
	height:100%;
	overflow:visible;
}
.fraction-slider .slide{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	z-index: 1;
}
.fraction-slider .active-slide{
	z-index: 4;
}
.fraction-slider .fs_obj{
	display:block;
	display:none;
	position:absolute;
	top:0px;
	left:100%;
	z-index: 3;
}
.fraction-slider .fs_fixed_obj{
	z-index: 2;
	left:0;
}
.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px;
	left:0px;
}
.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:45px;
	height:45px;
	z-index: 4;
}
.fs-pager-wrapper{
	position:absolute;
	left:10px;
	bottom:10px;
	z-index: 9;
	z-index: 4;
}
.fs-pager-wrapper a{
	display:inline-block;
	width:14px;
	height:14px;
	margin:0 5px 0 0;
	background: #000;
}
.fs-pager-wrapper .active{
	background: #3fb58b;
}

/* TOP SLIDER */




/* PAGE */

.page {
	border: 30px solid #fff;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
}
.page:after {
	clear: both;
	display: block;
	content: '';
}
.page .header {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	width: 100%;
	padding: 0 20px;
}
.page .cont {
	max-width: 100%;
	z-index: 2;
}
.page-cont-wrap {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.page .page-cont-wrap .page-cont {
	text-align: left;
	line-height: 1.42857143;
	display: inline-block;
	vertical-align: middle;
}
.page .page-cont:after {
	clear: both;
	display: block;
	content: '';
}
.page .line-ct-wrap {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.page .line-ct {
	z-index: 1;
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	background: rgba(255,255,255,0.2);
}
.page .line-ct:after {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 0 0 -600px;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.page .line-ct:before {
	content: '';
	position: absolute;
	right: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 -600px 0 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}

/* PAGE */





/* FRONTPAGE */

.front {
	padding: 0;
}
.project-front-sections-wrap {
	position: relative;
}
.project-front-sections-inner {
	position: absolute;
	left: 100%;
	z-index: 3;
}
.project-front-sections {
	position: absolute;
	padding: 47px 0 0 54px;
	top: 0;
	width: 180px;
}
.project-front-sections.fixed {
	position: fixed;
}
.project-front-sections li {
	font-size: 13px;
	margin: 0 0 44px;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.project-front-sections li a.active {
	font-size: 15px;
}
.project-front-sections li a {
	color: #9ba3a8;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
}
.project-front-sections li a:hover {
	border-color: #9ba3a8;
}
.project-front-sections li a.active {
	color: #3fb58b;
}
.project-front-sections li a.active:hover {
	border-color: transparent;
}
.project-front-list {
	margin: 0 0 30px;
	position: relative;
	z-index: 10;
}
.project-front-list:after {
	clear: both;
	content: '';
	display: block;
}
.project-front-list .project-front {
	width: 25%;
	float: left;
	position: relative;
}
.project-front-list .project-front:after {
	position: absolute;
	content: '';
	background: rgba(255,255,255,0);
	display: block;
	height: 0;
	width: 0;
	top: 50%;
	left: 50%;
	right: 50%;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-front-list .project-front .project-front-link:before {
	position: absolute;
	content: '';
	background-color: #000a1e;
	display: block;
	top: 50%;
	left: 50%;
	right: 50%;
	bottom: 50%;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}
.project-front-list .project-front:hover .project-front-link:before {
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	z-index: 11;
    opacity: 0.7;
}
.project-front-list .project-front-sizer {
	width: 25%;
}
.project-front-list .project-front.project-front-width2 {
	width: 50%;
}
.project-front .project-front-link {
	display: block;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: relative;
}
.project-front:hover .project-front-link {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.35);
	z-index: 11;
}
.project-front .project-front-link img {
	display: block;
	width: 100%;
	height: auto;
}
.project-front .project-front-cont {
	opacity: 0;
	z-index: 11;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 40%;
	-o-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 20px;
}
.project-front:hover .project-front-cont {
	opacity: 1;
	top: 50%;
}
.project-front .project-front-sect {
	color: #f6b88c;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0 0 9px;
}
.project-front .project-front-cont h3 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 10px;
}
.project-front-more {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.project-front-more a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #f6b88c;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.project-front-more a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #f6b88c;
}
.project-front-more a:hover {
	border-color: #f6b88c;
}
.project-front-more a.load:after {
	-webkit-animation: fa-spin 0.2s infinite linear;
    animation: fa-spin 0.2s infinite linear;
}



.post-front-list {
	margin-bottom: 30px;
	padding: 0;
}
.post-front-list:after {
	clear: both;
	display: block;
	content: '';
}
.post-front {
	padding: 29px 39px 12px;
	background: #fff;
	color: #969aa1;
	font-size: 16px;
	line-height: 190%;
	float: left;
	width: 25%;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	min-height: 253px;
	position: relative;
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.post-front:hover {
	z-index: 2;
	border: none;
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.09);
}
.post-front:nth-child(4n+1) {
	clear: left;
}
.post-front:nth-child(4n) {
	border-right: none;
}
.post-front:nth-child(1),
.post-front:nth-child(2),
.post-front:nth-child(3),
.post-front:nth-child(4) {
	border-top: none;
}
.post-front .post-front-sect {
	color: #f6b88c;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
	margin: 0 0 8px;
	display: inline-block;
}
.post-front .post-front-sect:hover {
	border-color: #f6b88c;
}
.post-front h3 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 9px;
}
.post-front h3 a {
	color: #3e4751;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	line-height: 135%;
}
.post-front h3 a:hover {
	color: #f6b88c;
}
.post-front p {
	line-height: 190%;
}
.post-front-link {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.post-front-link a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #f6b88c;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.post-front-link a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #f6b88c;
}
.post-front-link a:hover {
	border-color: #f6b88c;
}



.instagram-list {
	margin: 0 0 30px;
	padding: 0;
}
.instagram-list:after {
	clear: both;
	content: '';
	display: block;
}
.instagram-list li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: -1px;
}
.instagram-list li a {
	display: block;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	position: relative;
	margin-right: -1px;
}
.instagram-list li a:hover {
	z-index: 2;
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.35);
}
.instagram-list li img {
	display: block;
	width: 100%;
	height: auto;
}
.instagram-more {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.instagram-more a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #f6b88c;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.instagram-more a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #f6b88c;
}
.instagram-more a:hover {
	border-color: #f6b88c;
}

/* FRONTPAGE */





/* BLOG */

.blog-sections-wrap {
	position: relative;
}
.blog-sections-inner {
	position: absolute;
	left: 100%;
	z-index: 3;
}
.blog-sections {
	position: absolute;
	padding: 47px 0 0 54px;
	top: 0;
	width: 180px;
}
.blog-sections.fixed {
	position: fixed;
}
.blog-sections li {
	font-size: 13px;
	margin: 0 0 44px;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.blog-sections li.active {
	font-size: 15px;
}
.blog-sections li a {
	color: #9ba3a8;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
}
.blog-sections li a:hover {
	border-color: #9ba3a8;
}
.blog-sections li.active a {
	color: #3fb58b;
}
.blog-sections li.active:hover a {
	border-color: transparent;
}
.blog-list {
	margin-bottom: 30px;
}
.blog-list:after {
	display: block;
	clear: both;
	content: '';
}
.blog-i {
	position: relative;
	margin: 0;
	background: #fff;
}
.blog-i.hidden {
    opacity: 0;
	-o-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-webkit-transition: all .1s ease;
    transition: all .1s ease;
}
.blog-i.show {
    opacity: 0;
    -webkit-animation: new-item-animation .5s cubic-bezier(.14, .25, .52, 1.56) forwards;
    -o-animation: new-item-animation .5s cubic-bezier(.14, .25, .52, 1.56) forwards;
    animation: new-item-animation .5s cubic-bezier(.14, .25, .52, 1.56) forwards
}
.blog-i .blog-img {
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
.blog-i .blog-img > iframe {
    width: 100%;
    height: 100%;
    display: block;
}
.blog-i .blog-img a {
	position: absolute;
	top: -1px;
	bottom: -1px;
	width: 100%;
	display: block;
	-o-transition: transform 0.6s;
	-moz-transition: transform 0.6s;
	-webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
}
.blog-i .blog-img a:hover {
	-o-transform: scale3d(1.03,1.03,1);
	-ms-transform: scale3d(1.03,1.03,1);
	-moz-transform: scale3d(1.03,1.03,1);
	-webkit-transform: scale3d(1.03,1.03,1);
    transform: scale3d(1.03,1.03,1);
}
.blog-i .blog-slider {
	text-align: center;
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
.blog-i .blog-slider .slides {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.blog-i .blog-slider .slides li {
	position: relative;
	overflow: hidden;
	width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 0;
    display: block;
    z-index: 1;
	height: 100%;
}
.blog-i .blog-slider .flex-control-nav li {
    margin: 0 4px;
    display: inline-block;
}
.blog-i .blog-slider .slides li a {
	display: block;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	-o-transition: transform 0.6s;
	-moz-transition: transform 0.6s;
	-webkit-transition: transform 0.6s;
    transition: transform 0.6s;
}
.blog-i .blog-slider:hover .slides li a {
	-o-transform: scale3d(1.03,1.03,1);
	-ms-transform: scale3d(1.03,1.03,1);
	-moz-transform: scale3d(1.03,1.03,1);
	-webkit-transform: scale3d(1.03,1.03,1);
    transform: scale3d(1.03,1.03,1);
}
.blog-i .blog-slider .flex-control-nav {
    bottom: 12px;
}
.blog-i .blog-slider .flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #f1f1f1;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15)
}
.blog-i .blog-slider .flex-control-paging li a.flex-active {
    background: #3fb58b;
    box-shadow: none;
    border: none;
}
.blog-i .blog-cont {
	width: 50%;
	position: relative;
	border-bottom: 1px solid #f1f1f1;
	padding: 43px 48px 19px 48px;
	font-size: 16px;
	line-height: 190%;
	color: #969aa1;
}
.blog-i.blog-i-nophoto .blog-cont {
	width: 100%;
}
.blog-i .blog-cont:after {
	position: absolute;
    display: block;
    width: 1px;
    bottom: 0px;
    top: 143px;
    background: #dedede;
    left: -69px;
    content: '';
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.blog-i:hover .blog-cont:after {
    background: #6bd7b1;
    background: #93e4c7;
}
.blog-list .blog-i:last-child .blog-cont {
	border-bottom: none;
}
.blog-list .blog-i:last-child .blog-cont:after {
	display: none;
}
.blog-i .blog-cont time {
    position: absolute;
    font-size: 20px;
    color: #c3c5c9;
    text-transform: uppercase;
    display: block;
    left: -108px;
    text-align: center;
    line-height: 100%;
    width: 80px;
    top: 45px;
    font-family: 'Montserrat', sans-serif;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.blog-i .blog-cont time span {
	font-size: 33px;
    line-height: 100%;
    display: block;
    margin: 0 0 1px;
}
.blog-i:hover .blog-cont time {
    color: #3fb58b;
}
.blog-i .blog-cont .blog-category {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 7px;
	display: block;
	padding: 0;
	font-weight: 700;
}
.blog-i .blog-cont .blog-category a {
	color: #3fb58b;
	border-bottom: 1px solid transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.blog-i .blog-cont .blog-category a:hover {
	border-color: #3fb58b;
}
.blog-i .blog-cont h3 {
	font-size: 24px;
	margin: 0 0 10px;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 125%;
}
.blog-i .blog-cont h3 a {
	color: #3e4751;
	line-height: 125%;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.blog-i .blog-cont h3 a:hover {
	color: #3fb58b;
}
.blog-i .blog-cont p {
	margin: 0 0 20px;
	padding: 0;
	line-height: 190%;
}
.blog-i .blog-cont .blog-info {
	text-transform: uppercase;
	font-size: 13px;
	color: #9ba3a8;
	margin: 0 0 15px;
	font-weight: 700;
}
.blog-i .blog-cont .blog-info:after {
	clear: both;
	display: block;
	content: '';
}
.blog-i .blog-cont .blog-more {
	color: #3fb58b;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
	float: right;
	display: block;
	position: relative;
	font-size: 13px;
	margin: 3px 0 0;
}
.blog-i .blog-cont .blog-more:hover {
	border-color: #3fb58b;
}
.blog-i .blog-cont .blog-more:after {
    position: absolute;
    left: 100%;
    width: 30px;
    display: block;
    content: '';
    height: 2px;
    background: #3fb58b;
    top: 9px;
    margin: 0 0px 0 18px;
}
.blog-showmore {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.blog-showmore a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #3fb58b;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.blog-showmore a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #3fb58b;
}
.blog-showmore a:hover {
	border-color: #3fb58b;
}
.blog-showmore a.load:after {
	-webkit-animation: fa-spin 0.2s infinite linear;
    animation: fa-spin 0.2s infinite linear;
}

/* BLOG */





/* POST */

.top.post-top:before {
    bottom: 34px;
}
.post-top .header {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding: 0 74px 64px;
    background: #08b9df;
}
.top.post-top .line-ct-wrap {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.top.post-top .line-ct {
	z-index: 1;
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	background: rgba(255,255,255,0.2);
}
.top.post-top .line-ct:after {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 0 0 -600px;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.top.post-top .line-ct:before {
	content: '';
	position: absolute;
	right: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 -600px 0 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.post-img-wrap {
	margin-top: -20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.post-top .post-img {
    padding: 0;
	position: relative;
}
.post-top .post-img-wrap .post-img-main {
    display: block;
    width: 100%;
    height: auto;
	z-index: 3;
	position: relative;
}
.post-top .post-img-wrap .post-img-prev {
    display: block;
    position: absolute;
    top: 20px;
    bottom: 34px;
    left: 0;
    right: 50%;
    z-index: 2;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    margin: 0 600px 0 0px;
}
.post-top .post-img-wrap .post-img-next {
    display: block;
    position: absolute;
    top: 20px;
    bottom: 34px;
    right: 0;
    left: 50%;
    z-index: 2;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    margin: 0 0 0 600px;
}
.post-img-wrap:after {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 0 0 -600px;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.post-img-wrap:before {
	content: '';
	position: absolute;
	right: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 -600px 0 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.post-img-wrap .post-prev {
	line-height: 100%;
	margin: 0;
	top: 50%;
	text-align: center;
	background: none;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	letter-spacing: 0.1em;
	left: 0;
	padding: 0 0 11px 80px;
	color: #fff;
	position: absolute;
	z-index: 4;
}
.post-img-wrap .post-next {
	line-height: 100%;
	margin: 0;
	top: 50%;
	text-align: center;
	background: none;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	letter-spacing: 0.1em;
	right: 0;
	padding: 0 80px 11px 0;
	color: #fff;
	position: absolute;
	z-index: 4;
}
.post-img-wrap .post-prev:hover {
	left: -10px;
}
.post-img-wrap .post-next:hover {
	right: -10px;
}
.post {
	font-size: 16px;
	color: #969aa1;
	line-height: 190%;
	background: #fff;
	padding-top: 42px;
	padding-left: 49px;
	padding-right: 49px;
	margin-bottom: 30px;
}
.post .post-info {
	position: relative;
	padding: 0 0 0 66px;
	margin: 0 0 23px;
}
.post .post-info time {
	position: absolute;
	top: 3px;
	left: 0;
    font-size: 20px;
    color: #c3c5c9;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.post .post-info time span {
	font-size: 33px;
    line-height: 100%;
    display: block;
    margin: 0 0 1px;
}
.post .post-info a {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin: 0 0 11px;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	color: #08b9df;
	font-weight: 700;
	font-size: 13px;
}
.post .post-info a:hover {
	border-color: #08b9df;
}
.post .post-info h1 {
	font-size: 24px;
	font-weight: 700;
	color: #3e4751;
    font-family: 'Montserrat', sans-serif;
}
.post .post-video {
	position: relative;
	overflow: hidden;
	margin: 40px 0 40px;
	height: 620px;
}
.post .post-video iframe {
	width: 100%;
	height: 100%;
	display: block;
}
.post .post-map {
	position: relative;
	overflow: hidden;
	margin: 40px 0 40px;
	height: 400px;
}
.post .post-slider {
	position: relative;
	overflow: hidden;
	margin: 40px 0 40px;
}
.post .post-slider .slides {
	position: relative;
	overflow: hidden;
}
.post .post-slider .slides li {
	position: relative;
	overflow: hidden;
	width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 0;
    display: block;
    z-index: 1;
	height: 100%;
}
.post .post-slider .flex-control-nav li {
    margin: 0 4px;
    display: inline-block;
}
.post .post-slider .slides li img {
	display: block;
	height: auto;
	width: 100%;
	margin: 0;
}
.post .post-slider .flex-control-nav {
    bottom: 12px;
}
.post .post-slider .flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #f1f1f1;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15)
}
.post .post-slider .flex-control-paging li a.flex-active {
    background: #3fb58b;
    box-shadow: none;
    border: none;
}
.post p {
	line-height: 190%;
	margin: 0 0 24px;
}
.post .post-share {
	margin: 0 -49px 0;
	padding: 28px 0 0;
	border-top: 1px solid #ebebeb;
	text-align: center;
}
.post .post-share li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 44px 30px;
	font-size: 31px;
	color: #383e48;
}
.post .post-share li a {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.post .post-share li a:hover {
	color: #08b9df;
}
.post .post-tags {
	margin: 0 -49px 0;
	padding: 22px 0 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}
.post .post-tags li {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	margin: 0 18px 25px;
	color: #969aa1;
}
.post .post-tags li a {
	color: #383e48;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.post .post-tags li a:hover {
	color: #08b9df;
}
.post .post-comments {
	padding: 23px 31px 0;
	position: relative;
	overflow: hidden;
	margin: 0 -49px;
}
.post .post-comments h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 26px;
	color: #3e4751;
	float: left;
	font-family: 'Montserrat', sans-serif;
}
.post .post-comments-add {
	float: right;
	text-transform: uppercase;
	color: #ff3100;
	border-bottom: 1px solid rgba(0,0,0,0);
	margin: 0 0 19px;
	font-size: 14px;
	font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.post .post-comments-add:hover {
	border-color: #ff3100;
}
.post .post-comment {
	clear: both;
	position: relative;
	padding: 0px 0 0 100px;
	margin: 0 0 15px;
	font-size: 16px;
	color: #9ba3a8;
	min-height: 90px;
}
.post .post-comment-reply {
	padding-left: 30px;
	position: relative;
}
.post .post-comment-reply:after {
	position: absolute;
	top: 40px;
	right: 100%;
	background: #ebebeb;
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	margin: 0 -30px 0 0;
}
.post .post-comment-img {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 80px;
	left: 0;
	top: 0;
}
.post .post-comment-img img {
	display: block;
	width: 100%;
	height: auto;
}
.post .post-comment h4 {
	font-size: 13px;
	display: block;
	margin: 0 0 7px;
	color: #232323;
	text-transform: uppercase;
}
.post .post-comment time {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 7px;
	color: #9ba3a8;
}
.post .post-comment p {
	margin: 0;
	padding: 0;
	line-height: 160%;
}
.post .post-addcomment {
	border-top: 1px solid #ebebeb;
	padding: 20px 49px 0;
	position: relative;
	overflow: hidden;
	margin: 27px -49px 0;
}
.post .post-addcomment input[type=text] {
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border: none;
	border-bottom: 1px solid #ebebeb;
	font-size: 16px;
	color: #969aa1;
	height: 50px;
	width: 100%;
	padding: 0;
	display: block;
	float: left;
	width: 20%;
	margin: 0 3% 39px 0;
}
.post .post-addcomment input[type=text]:focus {
    border-bottom: 1px solid #d1d1d1;
}
.post .post-addcomment input[type=text]::-webkit-input-placeholder {
    color: #969aa1;
}
.post .post-addcomment input[type=text]::-moz-placeholder {
	color: #969aa1;
	opacity: 1;
}
.post .post-addcomment input[type=text]:-ms-input-placeholder {
   color: #969aa1;
}
.post .post-addcomment textarea {
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border: none;
	border-bottom: 1px solid #ebebeb;
	font-size: 16px;
	color: #969aa1;
	height: 50px;
	width: 100%;
	padding: 14px 0 0 0;
	display: block;
	float: left;
	width: 54%;
	margin: 0 0 39px 0;
}
.post .post-addcomment textarea:focus {
	border-bottom: 1px solid #d1d1d1;
}
.post .post-addcomment textarea::-webkit-input-placeholder {
	color: #969aa1;
}
.post .post-addcomment textarea::-moz-placeholder {
	color: #969aa1;
	opacity: 1;
}
.post .post-addcomment textarea:-ms-input-placeholder {
	color: #969aa1;
}
.post .post-addcomment button[type=submit] {
    font-size: 13px;
    color: #383e48;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 100%;
    position: absolute;
    right: 46px;
    top: 50%;
    letter-spacing: 0.02em;
    margin: -29px 0 0;
    padding: 0;
    height: 40px;
    border: none;
    background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.post .post-addcomment button[type=submit] .fa {
	font-size: 15px;
	margin: 0 0 0 6px;
}
.post .post-addcomment button[type=submit]:hover {
	color: #08b9df;
}
.post-showmore {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.post-showmore a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #08b9df;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.post-showmore a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #08b9df;
}
.post-showmore a:hover {
	border-color: #08b9df;
}
.post-related-list {
	margin-bottom: 50px;
	padding: 0;
}
.post-related-list:after {
	clear: both;
	display: block;
	content: '';
}
.post-related {
	padding: 29px 39px 12px;
	background: #fff;
	color: #969aa1;
	font-size: 16px;
	line-height: 190%;
	float: left;
	width: 25%;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	min-height: 253px;
	position: relative;
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.post-related:hover {
	z-index: 2;
	border: none;
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.09);
}
.post-related:nth-child(4n+1) {
	clear: left;
}
.post-related:nth-child(4n) {
	border-right: none;
}
.post-related:nth-child(1),
.post-related:nth-child(2),
.post-related:nth-child(3),
.post-related:nth-child(4) {
	border-top: none;
}
.post-related .post-related-sect {
	color: #08b9df;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
	margin: 0 0 8px;
	display: inline-block;
}
.post-related .post-related-sect:hover {
	border-color: #08b9df;
}
.post-related h3 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 9px;
}
.post-related h3 a {
	color: #3e4751;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	line-height: 135%;
}
.post-related h3 a:hover {
	color: #08b9df;
}
.post-related p {
	line-height: 190%;
}

/* POST */







/* PROJECT */

.top.project-top {
	margin-bottom: -50px;
}
.project-img {
	position: relative;
	overflow: hidden;
}
.project-img:after {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 0 0 -600px;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.project-img:before {
	content: '';
	position: absolute;
	right: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	z-index: 1;
	width: 300px;
	margin: 0 -600px 0 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
}
.project-img .line-ct {
	z-index: 1;
	position: absolute;
	left: 50%;
	display: block;
	top: 0;
	height: 100%;
	width: 1px;
	background: rgba(255,255,255,0.2);
}
.project-img img {
	width: 100%;
	display: block;
	height: auto;
}
.project-img .project-prev {
	line-height: 100%;
	margin: 0;
	top: 50%;
	text-align: center;
	background: none;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	letter-spacing: 0.1em;
	left: 0;
	padding: 0 0 11px 80px;
	color: #fff;
	position: absolute;
	z-index: 4;
}
.project-img .project-prev:hover {
	left: -10px;
}
.project-img .project-next {
	line-height: 100%;
	margin: 0;
	top: 50%;
	text-align: center;
	background: none;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	letter-spacing: 0.1em;
	right: 0;
	padding: 0 80px 11px 0;
	color: #fff;
	position: absolute;
	z-index: 4;
}
.project-img .project-next:hover {
	right: -10px;
}
.project {
	z-index: 2;
	position: relative;
	font-size: 16px;
	color: #969aa1;
	line-height: 190%;
	background: #fff;
	padding-top: 42px;
	padding-left: 49px;
	padding-right: 49px;
	margin-bottom: 30px;
}
.project .project-info {
	position: relative;
	padding: 0 0 0 66px;
	margin: 0 0 23px;
}
.project .project-info time {
	position: absolute;
	top: 3px;
	left: 0;
    font-size: 20px;
    color: #c3c5c9;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.project .project-info time span {
	font-size: 33px;
    line-height: 100%;
    display: block;
    margin: 0 0 1px;
}
.project .project-info a {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin: 0 0 11px;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	color: #e594b2;
	font-weight: 700;
	font-size: 13px;
}
.project .project-info a:hover {
	border-color: #e594b2;
}
.project .project-info h1 {
	font-size: 24px;
	font-weight: 700;
	color: #3e4751;
    font-family: 'Montserrat', sans-serif;
}
.project p {
	line-height: 190%;
	margin: 0 0 44px;
}
.project .project-list {
	margin: 24px -49px 50px;
}
.project .project-list:after {
	display: block;
	clear: both;
	content: '';
}
.project .project-i {
	position: relative;
	padding-left: 50%;
}
.project .project-i-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	bottom: 0;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	margin: 0;
	overflow: hidden;
}
.project .project-i-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	margin: 0;
	bottom: -30px;
	width: 100%;
	opacity: 1;
	padding: 0;
	-o-transform: translate3d(0,-30px,0);
	-ms-transform: translate3d(0,-30px,0);
	-moz-transform: translate3d(0,-30px,0);
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-o-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.project .project-i:hover .project-i-img {
	-o-transform: translate3d(0,-1px,0);
	-ms-transform: translate3d(0,-1px,0);
	-moz-transform: translate3d(0,-1px,0);
	-webkit-transform: translate3d(0,-1px,0);
	transform: translate3d(0,-1px,0);
}
.project .project-i .project-i-img:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	content: '';
	background: rgba(0,0,0,0.6);
	-o-transition: opacity 0.35s;
	-moz-transition: opacity 0.35s;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	opacity: 0;
}
.project .project-i:hover .project-i-img:after {
	opacity: 1;
}
.project .project-i-info .project-i-caption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.project-i-info .project-i-caption::before,
.project-i-info .project-i-caption::after {
	position: absolute;
	content: '';
	opacity: 0;
	-o-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.project-i-info .project-i-caption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	-moz-transform: scale(0,1);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.project-i-info .project-i-caption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-o-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.project-i:hover .project-i-caption::before,
.project-i:hover .project-i-caption::after {
	opacity: 1;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.project-i .project-i-caption .project-i-caption-inner {
	position: absolute;
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	top: 50%;
	left: 0;
	right: 0;
	padding: 60px;
}
.project .project-i-caption h3 {
	margin: 0 0 10px;
	padding: 0;
	opacity: 0;
	-o-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-o-transform: translate3d(0,-30px,0);
	-ms-transform: translate3d(0,-30px,0);
	-moz-transform: translate3d(0,-30px,0);
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}
.project .project-i-caption p {
	margin: 0;
	line-height: 190%;
	font-size: 16px;
	padding: 8px 30px;
	text-transform: none;
	opacity: 0;
	-o-transform: translate3d(0,-10px,0);
	-ms-transform: translate3d(0,-10px,0);
	-moz-transform: translate3d(0,-10px,0);
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-o-transition: opacity 0.35s, transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.project-i:hover h3,
.project-i:hover p {
	opacity: 1;
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.project-i:hover .project-i-caption::after,
.project-i:hover h3,
.project-i:hover p,
.project-i:hover .project-i-img {
	-o-transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.project .project-i-cont {
	width: 100%;
	padding: 30px;
	background: #fff;
}
.project .project-i-inner {
	background: #333;
	color: #fff;
	font-size: 16px;
	padding: 28px 40px 0;
	line-height: 190%;
}
.project .project-i-inner h1,
.project .project-i-inner h2,
.project .project-i-inner h3,
.project .project-i-inner h4,
.project .project-i-inner h5,
.project .project-i-inner h6 {
	padding: 0 0 31px;
	margin: 0;
}
.project .project-i-inner p {
	padding: 0 0 31px;
	margin: 0;
	line-height: 190%;
}
.project .project-share {
	margin: 0 -49px 0;
	padding: 28px 0 0;
	border-top: 1px solid #ebebeb;
	text-align: center;
}
.project .project-share li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 44px 30px;
	font-size: 31px;
	color: #383e48;
}
.project .project-share li a {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.project .project-share li a:hover {
	color: #e594b2;
}
.project .project-i:nth-child(2n) {
	padding-left: 0;
	padding-right: 50%;
}
.project .project-i:nth-child(2n) .project-i-info {
	left: 50%;
}
.project-showmore {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.project-showmore a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #e594b2;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.project-showmore a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #e594b2;
}
.project-showmore a:hover {
	border-color: #e594b2;
}

/* PROJECT */





/* ABOUT */

.about-list {
	padding: 0;
}
.about-list:after {
	clear: both;
	display: block;
	content: '';
}
.about-i-sizer {
	width: 25%;
	float: left;
}
.about-i.about-i-2 {
	width: 50%;
	float: left;
}
.about-i {
	width: 25%;
	float: left;
	color: #fff;
	line-height: 190%;
	font-size: 16px;
}
.about-i a {
	display: block;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	position: relative;
}
.about-i:hover a {
	z-index: 2;
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.35);
}
.about-i.about-video:before {
    position: absolute;
    left: 50%;
    color: #fff !important;
    top: 50%;
    margin: -25px 0 0 -25px;
    text-align: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 15;
    border-radius: 80px;
    content: "\f04b";
    opacity: 1;
    font-size: 80px;
    font-weight: normal;
    font-family: FontAwesome;
    padding: 0 0 0 6px;
}
.about-i img {
	display: block;
	height: auto;
	width: 100%;
}
.about-i .about-cont {
	padding: 40px 51px 0;
	background: #9ab758;
	min-height: 280px;
}
.about-i .about-cont h1 {
	color: #718641;
	padding: 0 0 18px;
	margin: 0;
	font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.about-i .about-cont p {
	line-height: 190%;
	padding: 0 0 18px;
	margin: 0;
}
.about-i img {
	display: block;
}

/* ABOUT */





/* CONTACTS */

.contacts {
	position: relative;
	padding: 0;
}
.contacts-form {
	width: 50%;
	background: #6b909f;
	padding: 40px 47px 48px;
}
.contacts-form:after {
	clear: both;
	content: '';
	display: block;
}
.contacts-form h1 {
	font-size: 30px;
	margin: 0 0 17px;
	padding: 0;
	color: #4b6975;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.contacts-form form {
	position: relative;
}
.contacts-form form:after {
	clear: both;
	display: block;
	content: '';
}
.contacts-form form input[type=text] {
	border: none;
	border-bottom: 1px solid #a0b6bf;
	width: 45%;
	height: 50px;
	float: left;
	font-size: 16px;
	color: #fff;
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	padding: 0 0 0 0;
	margin: 0 0 21px;
	display: block;
}
.contacts-form form input[type=text]:first-child {
	margin-right: 10%;
}
.contacts-form form input[type=text]:focus {
    border-bottom: 1px solid #b6cfd9;
}
.contacts-form form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}
.contacts-form form input[type=text]::-moz-placeholder {
   color: #fff;
   opacity: 1;
}
.contacts-form form input[type=text]:-ms-input-placeholder {
   color: #fff;
}
.contacts-form form textarea {
	clear: both;
	border: none;
	border-bottom: 1px solid #a0b6bf;
	width: 100%;
	height: 50px;
	float: left;
	font-size: 16px;
	color: #fff;
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	padding: 14px 60px 0 0;
	display: block;
	margin: 0 0 21px;
}
.contacts-form form textarea:focus {
    border-bottom: 1px solid #b6cfd9;
}
.contacts-form form textarea::-webkit-input-placeholder {
    color: #fff;
}
.contacts-form form textarea::-moz-placeholder {
   color: #fff;
   opacity: 1;
}
.contacts-form form textarea:-ms-input-placeholder {
   color: #fff;
}
.contacts-form form button[type=submit] {
	bottom: 26px;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 100%;
	position: absolute;
	right: 2px;
	letter-spacing: 0.02em;
	margin: -20px 0 0;
	padding: 0;
	height: 40px;
	border: none;
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.contacts-form form button[type=submit] .fa {
	font-size: 15px;
	margin: 0 0 0 6px;
}
.contacts-form form button[type=submit]:hover {
	color: #f6b88c;
}
.contacts-form form .form-result {
    position: absolute;
    bottom: -21px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #A6CE4B;
    left: 0;
    right: 0;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
}
.redborder {
	border-color: #C35555 !important;
}
.contacts-img {
	width: 50%;
}
.contacts-img img {
	display: block;
	width: 100%;
	height: auto;
}
.contacts-map {
	position: absolute !important;
	right: 0;
	width: 50%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #f1f1f1;
}

/* CONTACTS */





/* COMING SOON */

.coming {
	position: relative;
}
.coming-ttl {
	font-size: 157px;
    padding: 0;
    margin: 0;
    text-align: center;
	color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 163px;
    width: 100%;
    left: 0;

    position: relative;
    left: auto;
    top: auto;
    margin: 50px 0 0 !important;
}
.coming .coming-img {
	margin: 0 0 40px;
	text-align: center;
}
.countdownHolder{
	letter-spacing:-3px;
	text-transform: uppercase;
	white-space: nowrap;
	color: #383e48;
	line-height: 100%;
	font-size: 80px;
	font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
	text-align: left;
}
.position{
	display: inline-block;
	height: 65px;
	position: relative;
	width: 40px;
}
.digit{
	position:absolute;
	display:block;
	letter-spacing:-1px;
}
.countDays{
	float: left;
	width: 25%;
}
.countHours{
	float: left;
	width: 25%;
}
.countMinutes{
	float: left;
	width: 25%;
}
.countSeconds{
	float: left;
	width: 25%;
}
.coming .coming-timer {
	overflow: hidden;
}
.coming .coming-timer li {
	float: left;
	width: 25%;
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	white-space: nowrap;
}
.coming .coming-timer li .coming-digits {
	color: #383e48;
	line-height: 100%;
	font-size: 80px;
	font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* COMING SOON */




/* ERROR 404 */

.err404 {
	text-align: center !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	position: relative;

	padding-bottom: 80px;
}
.err404 .err404-img {

}
.err404 .err404-ttl {
	position: absolute;
	left: 0;
	right: 0;

	top: 85%;
}

/* ERROR 404 */




/* OTHERS */
.fancybox-close.modal-close {
    top: -42px;
    right: 0px;
    width: 25px;
    height: 25px;
	background-image: none;
	background: url(../img/fancybox-close.png) left top no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.fancybox-prev.modal-prev {
    left: -45px;
}
.fancybox-next.modal-next {
    right: -45px;
}
.fancybox-nav.modal-prev span,
.fancybox-nav.modal-next span {
    position: absolute;
    top: 50%;
    width: 19px;
    height: 33px;
    margin-top: -16px;
    cursor: pointer;
    z-index: 8040;
    overflow: hidden;
}
.fancybox-prev.modal-prev span {
    left: 10px;
    background-image: none;
    background: url(../img/fancybox-nav.png) no-repeat left top;
}
.fancybox-next.modal-next span {
    right: 10px;
    background-image: none;
    background: url(../img/fancybox-nav.png) no-repeat right top;
}
#preloader {
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.preloader-icon {
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
    color: #2A9A72;
}
/* OTHERS */




/* FOOTER */

.footer-wrap {
	background: #383e48;
}
.footer-wrap .footer {
	padding-top: 50px;
}
.footer .footer-logo {
	text-align: center;
	margin: 0 0 33px;
	padding: 0;
}
.footer .footer-logo a {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.footer .footer-logo a:hover {
	opacity: 0.85;
}
.footer .footer-subscribe {
	position: relative;
	margin: 0 auto 46px;
	display: block;
	width: 100%;
	padding: 0;
	max-width: 600px;
}
.footer .footer-subscribe input[type=text] {
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border: none;
	border-bottom: 1px solid #464c55;
	font-size: 16px;
	color: #969aa1;
	height: 50px;
	width: 100%;
	padding: 0 60px 0 0;
	display: block;
}
.footer .footer-subscribe input[type=text]:focus {
    border-bottom: 1px solid #777d88;
}
.footer .footer-subscribe input[type=text]::-webkit-input-placeholder {
    color: #969aa1;
}
.footer .footer-subscribe input[type=text]::-moz-placeholder {
   color: #969aa1;
   opacity: 1;
}
.footer .footer-subscribe input[type=text]:-ms-input-placeholder {
   color: #969aa1;
}
.footer .footer-subscribe button[type=submit] {
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	letter-spacing: 0.02em;
	margin: -20px 0 0;
	padding: 0;
	height: 40px;
	border: none;
	background: transparent;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.footer .footer-subscribe button[type=submit] .fa {
	font-size: 15px;
	margin: 0 0 0 6px;
}
.footer .footer-subscribe button[type=submit]:hover {
	color: #f6b88c;
}
.footer .footer-subscribe .form-result {
    font-size: 13px;
    color: #fff;
    margin: 17px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
	font-weight: 700;
    text-transform: uppercase;
}
.footer .footer-social {
	text-align: justify;
	font-size: 1px;
	line-height: 100%;
	margin: 0 auto;
	padding: 0;
	max-width: 600px;
}
.footer .footer-social:after {
	display: inline-block;
	width: 100%;
	height: 0;
	content: '';
}
.footer .footer-social li {
	display: inline-block;
	font-size: 27px;
	line-height: 100%;
	vertical-align: middle;
	margin: 0 0 34px;
	padding: 0;
	color: #fff;
}
.footer .footer-social li a {
	color: #fff;
}
.footer .footer-social li a .fa {
	color: #fff;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.footer .footer-social li a .fa:hover {
	color: #f6b88c;
}
.footer .footer-copyright {
	text-align: center;
	font-size: 16px;
	margin: 0;
	color: #969aa1;
	padding: 0 0 38px;
}

/* FOOTER */






/* THEME OPTIONS */
.theme-options {
	padding: 0 20px 13px;
	z-index: 9999;
	background: #fff;
	position: fixed;
	top: 150px;
	left: -200px;
	width: 200px;
	color: #323232;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background-color: #fff;
	color: #333;
}
.theme-options.opened {
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.15);
	left: 0;
}
.theme-options .theme-options-ttl {
	color: #fff;
	background: #483C64;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0px 20px;
    margin: 0 -20px;
    height: 50px;
    line-height: 50px;
}
.theme-options .theme-options-ttl img {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
}
.theme-options .theme-options-toggle {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: -50px;
	display: block;
	background: #483C64;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.theme-options .theme-options-toggle:hover {
	background-color: #655786;
}
.theme-options .theme-options-toggle:before {
	font-family: "FontAwesome";
	content: "\f013";
}
.theme-options .theme-colors {
	overflow: hidden;
}
.theme-options .theme-color-ttl {
    color: #3e4751;
    font-size: 17px;
    padding: 20px 0 15px;
	font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.theme-colors li {
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	width: 70px;
	height: 45px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
	background-position: center center;
}
.theme-colors li:hover {
	opacity: 0.9;
}
.theme-colors li.active {
	background: url(../img/check3.png) no-repeat center center;
}
.theme-colors li:nth-child(2n) {
	margin-right: 0;
}
.theme-colors li.theme-color-1 {
	background-color: #f6b88c;
}
.theme-colors li.theme-color-2 {
	background-color: #3fb58b;
}
.theme-colors li.theme-color-3 {
	background-color: #e594b2;
}
.theme-colors li.theme-color-4 {
	background-color: #08b9df;
}
.theme-colors li.theme-color-5 {
	background-color: #6b909f;
}
/* THEME OPTIONS */
